[2020-08-25 22:53] rafaelmardojai opened #1 "Basic features"
Expected features for first release.

- [x] Save volume position of each sound
- [x] Allow adding custom sounds

[2020-08-28 04:04] rafaelmardojai opened #2 "Homogeneous volume GtkScale"
Similar to GNOME Settings Sound panel.

**Current:**
![Captura de pantalla de 2020-08-27 23-00-02](https://user-images.githubusercontent.com/6210397/91519911-85d2cd00-e8b9-11ea-85b7-cc2e7d0fbfdc.png)

**GNOME Settings:**
![Captura de pantalla de 2020-08-27 23-00-41](https://user-images.githubusercontent.com/6210397/91519908-84090980-e8b9-11ea-82ab-596baddb44b3.png)

[2020-08-28 04:13] rafaelmardojai opened #3 "Initial included sounds"
**Nature**
- [x] Rain
- [x] Wind
- [x] Storm
- [x] Summer Night
- [ ] Campfire ??

**Interiors**
- [x] Coffee Shop
- [x] Fireplace

**Noise**
- [x] Pink Noise
- [x] White Noise

[2020-08-28 04:14] rafaelmardojai commented on #3
I need to fix or replace the sounds that have a gap at the end.

[2020-08-28 04:18] rafaelmardojai opened #4 "Icons for sounds"
Nice hicolor icons following GNOME HIG for each sound from #3.

Currently using some of the new icons from [GNOME Weather](https://gitlab.gnome.org/GNOME/gnome-weather/).

**Nature**
- [x] Rain
- [x] Wind
- [x] Storm
- [x] Summer Night
- [ ] ~Campfire~

**Interiors**
- [x] Coffee Shop
- [x] Fireplace

**Noise**
- [x] Pink Noise (pink sound wave??)
- [x] White Noise (TV with static??)

**Other**
-

[2020-08-28 04:21] rafaelmardojai opened #5 "App icon"

[2020-08-30 03:50] #2 closed

[2020-08-30 14:05] #1 closed

[2020-09-01 05:31] #3 closed

[2020-09-01 05:31] #4 closed

[2020-09-01 05:31] #5 closed

[2020-09-01 20:03] yochananmarqos opened #6 ""Please call Gst.init(argv) before using GStreamer""
I built 0.1.0 from source on Manjaro Linux. `gst-python` doesn't seem to be very happy running it:

[code]

[2020-09-01 20:42] yochananmarqos commented on #6
That commit made no difference, unfortunately.

[2020-09-01 20:58] Exalm opened #8 "About button"
Typically GNOME apps without a primary menu present about dialog like this:

![Screenshot from 2020-09-02 01-57-56](https://user-images.githubusercontent.com/1510457/91905298-c5395900-ecbf-11ea-9898-4e0bab7c5c31.png)

[2020-09-01 21:02] Exalm opened #9 "White noise sounds weird"
Generally I'd expect something like https://commons.wikimedia.org/w/index.php?title=File%3AWhite-noise-sound-20sec-mono-44100Hz.ogg

Right now it has an easily audible pattern. :)

[2020-09-01 21:14] rafaelmardojai commented on #6
[208c67a5687a471b74978f63943f83ffb61600b0] Does something?

If not, latter i will build dependencies from source to reproduce. With Flatpak everything works well.

[2020-09-01 21:22] bilelmoussaoui opened #10 "Scrolling on top of the volume bar goes from 0 to 1"
First of all nice little app!

I've noticed that when I scroll on top of a volume bar, the sound goes directly from 0 to 1 instead which is probably undesired

[2020-09-01 21:29] yochananmarqos commented on #6
Yes, that solved the issue. Thanks!

[2020-09-01 21:29] #6 closed

[2020-09-01 21:39] alice-mkh opened #11 "Generating noise in runtime"
As a more general solution for https://github.com/rafaelmardojai/blanket/issues/9, a thing that would prevent patterns completely is generating the sounds on the fly instead of just playing a preexisting loop.

While it would be way too complex for e.g. coffee shop sounds, it should be _relatively_ simple for white/pink noise.

See also: https://twitter.com/mattdm/status/1300908885805543424

[2020-09-01 22:53] bertob commented on #8
Personally I quite like the minimal icon-only treatment, I was wondering about maybe doing the same in Nostalgia too. Moving it to the left side could be nice for visual balance though.

[2020-09-01 22:58] rafaelmardojai commented on #9
I will i use the loop you shared for now. Until I implement #11, at least for colored noises.

[2020-09-01 23:02] #9 closed

[2020-09-02 00:00] Exalm commented on #8
Well, it needs to be at least raised IMO, we normally don't use flat buttons like that.

[2020-09-02 00:28] #10 closed

[2020-09-02 09:19] Exalm opened #12 "Saving scroll position between restarts"
Right now the app immediately starts playing the sounds with the volume you set last time, which is cool. One small missing thing now is saving the scroll position so it looks the same after a restart as well :)

[2020-09-02 14:19] Porrumentzio opened #13 "Close and License buttons on About window do not function [Linux]"
They simply don't function: Close does not close and License does not show the license.

Manjaro Linux, MATE graphical environment, installed via AUR (ArchLinux User Repository)

[2020-09-02 14:22] Porrumentzio opened #14 "MPRIS integration and background playback"
It would be great to close the app but that it remain running, with a tray icon, for computers.

[2020-09-02 14:23] Porrumentzio opened #15 "[Proposal] Add general volume fader"
This feature would be good because, otherwise, is more difficult to adjust the sound.

[2020-09-02 14:25] Porrumentzio opened #16 "[Proposal] Shortcut to stop the sound"
As music players do, using the "play/resume" keyboard shortcut to stop the sound would be very comfortable

[2020-09-02 16:32] GammaGames commented on #14
I would prefer integration as a media player so it would show up in system sound menus instead. Even dock integration would be better than a system indicator.

[Here's some more reading on why tray icons aren't good designs for apps](https://elementary.io/docs/human-interface-guidelines#system-indicators)

[2020-09-02 16:50] rafaelmardojai commented on #14
I will provide MPRIS integration and an option to keep playing when closed.

[2020-09-03 10:52] renestalder commented on #16
Or I would already appreciate a pause button in the UI itself. That would make it easier to pause and resume later than realigning the sliders.

[2020-09-03 12:58] Porrumentzio commented on #16
Also, of course. I propose a general volume fader too: #15

[2020-09-03 21:18] rafaelmardojai commented on #16
I have added a play/pause action, it can be activated from the headerbar and soon with the MPRIS control.

The action also have the `Ctrl + M` (mute) keyboard shortcut.

![Peek 03-09-2020 08-44](https://user-images.githubusercontent.com/6210397/92152765-d5992300-ede8-11ea-88f8-387b9a74b6c5.gif)

[2020-09-03 21:20] rafaelmardojai commented on #15
Added on the new app menu:
![Captura de pantalla de 2020-09-03 16-15-30](https://user-images.githubusercontent.com/6210397/92172201-3c2a3b00-ee01-11ea-8a36-06f3a234ce31.png)

[2020-09-04 08:35] Porrumentzio commented on #16
That's great! Thanks Rafael!

[2020-09-04 08:36] Porrumentzio commented on #15
Great! I'm closing this issue, thanks :)

[2020-09-04 08:36] #15 closed

[2020-09-04 11:19] renestalder commented on #16
Awesome. Thank you.

[2020-09-04 16:43] rafaelmardojai commented on #8
Blankek now has a menu. But I'm still interested in an "oficial" solution for  [Webfont Kit Generator](https://github.com/rafaelmardojai/WebfontKitGenerator).

![Captura de pantalla de 2020-09-04 11-41-28](https://user-images.githubusercontent.com/6210397/92264338-b6130080-eea3-11ea-945f-62ec26c3038d.png)

[2020-09-04 16:43] #8 closed

[2020-09-04 17:31] Porrumentzio opened #20 "Appreciations about sound levels"
I'll be updating this file with my thoughts and recommendations about soundclips for Blanket, explaining as simple as possible the characteristics these files should have to be comfortable and suitable for environmental sound.

## Disclaimer
This recommendations about sounds will be thought **for humans!** I suppose that this are the expected listeners of this application, but it is important to c

[2020-09-06 09:40] apandada1 opened #21 "Fails to build from source in Launchpad"
I made a debian package for blanket, but faced an issue. While it builds successfully in my computer (tried with Xubuntu 20.04 and Linux Mint 20), it fails to build in the Launchpad server (where I tried to make a PPA).
Here is the relevant part of the buildlog.
[code]

Here is the [full buildlog](https://launchpadlibrarian.net/496505472/buildlog_ubuntu-focal-amd64.blanket_0.2.0-0~202009060852~ubu

[2020-09-06 17:28] rafaelmardojai opened #22 "Update translations for 0.3.0"
Hey @albanobattistella and @Vistaus!

Could you please update your translations for the new strings added?

Thanks in advance!

[2020-09-06 17:58] rafaelmardojai commented on #21
Probably you need `appstream-glib-devel`?

[2020-09-06 18:21] Porrumentzio commented on #11
That's a great idea! I don't know how to implement it but there are plenty of examples on a simple search: https://duckduckgo.com/?t=ffab&q=generate+white+noise+python&ia=web
Here's an interesting one: https://python-acoustics.github.io/python-acoustics/generator.html?highlight=brown%20noise

[2020-09-06 18:26] rafaelmardojai commented on #20
Thanks for the very detailed explanation!

Would be awesome to have some improvement on this for `0.4.0`.

What do you think would be the next step to advance in this?

[2020-09-06 18:26] Porrumentzio commented on #22
I want to make Basque and Esperanto translations. Do you know on which version will the .pot be more or less stable? I ask for not having to make a lot of updates, seeing that the project is growing and growing 😊

[2020-09-06 18:32] Porrumentzio commented on #20
Well, I'm already talking to other sound technicians to have more accurate recommendations, but I have them more or less.

I would add some parameters that a sound should achieve, before accepting them into the project. That test should be public, in a `CONTRIBUTING.md` file or so, if anyone proposing a sound would like to past the test by themselves, or otherwise me or any other contributor could

[2020-09-06 18:32] rafaelmardojai commented on #22
@Porrumentzio current master `.pot` is fine. I don't think the app will grow to much in strings to translate for now.

[2020-09-06 18:40] apandada1 commented on #21
That did not work. I used this package. https://packages.ubuntu.com/focal/libappstream-glib-dev

[2020-09-06 18:52] apandada1 commented on #21
I will try that. In the meanwhile, please have a look at https://mail.gnome.org/archives/vala-list/2017-April/msg00048.html

[2020-09-06 19:00] rafaelmardojai commented on #11
There's also:
- https://github.com/felixpatzelt/colorednoise
- https://github.com/scivision/soothing-sounds

[2020-09-06 19:04] rafaelmardojai commented on #21
Yeah, i have been checking that too.

Similar issue: https://github.com/bilelmoussaoui/nautilus-git/issues/25

[2020-09-06 19:07] apandada1 commented on #21
Failed even after adding `appstream-util`. I am confused why it successfully builds in my PC, but fails in Launchpad. All the build dependencies I am using right now are
[code]

[2020-09-07 00:03] rafaelmardojai commented on #21
Do you have a way to check out how other similar apps like Lollypop are packaged?

[2020-09-07 02:21] rafaelmardojai commented on #11
But probably we can make this directly with GStreamer (https://gstreamer.freedesktop.org/documentation/audiotestsrc/index.html)

[2020-09-07 02:26] rafaelmardojai commented on #20
LGTM!

[2020-09-07 02:37] apandada1 commented on #21
I made it based on the debian directory structure of [Foliate](https://github.com/johnfactotum/foliate), whose PPA I maintian. I will look into Lollypop.

[2020-09-07 10:09] Porrumentzio opened #26 "Add translators on credits"
Could be done adding all translators for all languages or showing only those of the current locales.

I could make the first if cleared the doubt on #25
The second is made by several apps, for example [Timer Applet for MATE desktop](https://github.com/mate-desktop/mate-applets/blob/master/timerapplet/src/timerapplet.c)

[2020-09-07 11:45] Vistaus commented on #22
Done! :) #27

[2020-09-07 12:09] Porrumentzio opened #28 "Menu to change app language"
Sometimes users want to use the app in other language than their local. A menu to choose the language could be good.

[2020-09-07 12:34] Porrumentzio commented on #20
Also there is a proposal of other technician about entering very low frequency modulation on sound to induce a specific brain state.
Seems the neuronal movement frequency varies depending on the alarm-state we are.

So entering modulation in frequencies in which brain frequency is when calm could induce that state. It is very used on psych-trance and new-age music styles.

[2020-09-07 13:08] #22 closed

[2020-09-07 14:30] rafaelmardojai commented on #28
I'm not sure about this. I want the user interface to be as simple as possible.

Also this isn't a feature that many people will use.

But I can implement a hidden setting than can be changed from terminal or dconf editor:
[code]

[2020-09-07 16:09] Porrumentzio commented on #28
That's good, it's okay to keep it simple.

I understand that what I propose wouldn't be very used. The problem is that some locales, Esperanto for example, is so little translated that almost all the apps are in English; then, there's no comfortable way to use apps in Esperanto unless each app allows to choose the language.

[2020-09-07 16:25] Porrumentzio opened #30 "Make credit strings translatable"
Make translatable `ARTISTS` and `SOUND_ARTISTS` list on `src/about.py` translatable.
Some can maybe be reused from `src/window.py`

[2020-09-07 17:53] #26 closed

[2020-09-07 17:53] #30 closed

[2020-09-08 09:50] apandada1 commented on #21
I am using the same debian structure as Lollypop or Foliate (could not determine if anything is different), and they build correctly in Launchpad.
The same issue is present when I try to build with pbuilder (in my computer) inside a `chroot` environment. Not sure what is different outside the chroot environment.

[2020-09-08 15:38] Porrumentzio commented on #20
@rafaelmardojai, I updated the post. I added some more criteria, that could be a definitive one, but maybe it will be difficult to get sounds with such characteristics

[2020-09-08 17:00] apandada1 commented on #21
In Debian, the dependency is `appstream` (it comes preinstalled with most operating systems, that is why it was so hard to isolate). All credit goes to [Colin Watson](https://answers.launchpad.net/launchpad/+question/692788), who answered this [question](https://answers.launchpad.net/launchpad/+question/692788).

I have checked that the package builds locally in an isolated environment. I will soo

[2020-09-08 17:00] #21 closed

[2020-09-08 19:00] apandada1 commented on #21
@rafaelmardojai By the way, is python-gobject really required as a dependency? In my computer, Blanket runs without it, and it is not required to build Blanket either.

[2020-09-08 23:11] rafaelmardojai commented on #21
The dependency is **PyGObject**, in Fedora is packaged as `python3-gobject` and in Arch as `python-gobject`. I don't know the package name in Ubuntu.

I will update the README to `python3-gobject`.

[2020-09-08 23:42] rafaelmardojai commented on #21
But since Python 2 is deprecated, I don't know if it's better to leave it like this.

[2020-09-11 11:50] fitojb commented on #28
On Linux, you can start most apps in a different language by using the LANG= environment variable, e.g. `LANG=ca libreoffice`

[2020-09-11 12:20] Porrumentzio commented on #28
You can, but it's not comfortable having to launc the app every time via terminal.

I already explained the reasons to such menu and that I understand and respect the aim to keep the app simple.

[2020-09-11 13:01] #12 closed

[2020-09-11 13:02] #16 closed

[2020-09-11 13:02] #14 closed

[2020-09-11 18:02] apandada1 commented on #13
Confirmed in Linux Mint 20 Cinnamon.

[2020-09-11 18:51] rafaelmardojai commented on #13
The Keyboard Shortcuts window has the same issue?

Do you have the standard GTK About window or is patched downstream?
![Captura de pantalla de 2020-09-11 13-50-51](https://user-images.githubusercontent.com/6210397/92961982-d4de3d80-f435-11ea-9e3b-ee2d60649cbe.png)

[2020-09-11 19:00] apandada1 commented on #13
It's patched.
![Screenshot from 2020-09-12 00-27-14](https://user-images.githubusercontent.com/3063132/92962737-edb01880-f460-11ea-83e5-659ed9e1088b.png)

[2020-09-11 19:02] pedrofleck opened #41 "Unable to add custom sounds when paused"
When the pause button is clicked, the button to add custom sounds is grayed out and only when clicking play you are able to add a custom sound again.

[2020-09-11 19:04] pedrofleck commented on #28
You can edit you .desktop file and it will always launch with your desired language, unless you want different languages from time to time.

[2020-09-11 19:07] Porrumentzio commented on #13
I have the same as @apandada1 in Mate

[2020-09-11 19:38] rafaelmardojai commented on #13
I was able to reproduce by setting `gtk-dialogs-use-header` to `False` on `GtkSettings`.

Now I need to figure out why `Licence` button is showing up and `Close` button isn't destroying the dialog.

[2020-09-11 21:47] #13 closed

[2020-09-11 21:48] rafaelmardojai commented on #13
Should be fixed now. Please test and confirm.

[2020-09-11 23:03] rafaelmardojai commented on #41
You are right. A side effect of making the whole window content insensitive. I'm fixing this soon.

[2020-09-12 04:04] apandada1 commented on #13
Fixed in Cinnamon. Close button works, and License button is not there anymore.
![fixed](https://user-images.githubusercontent.com/3063132/92986802-fe867b80-f4ac-11ea-810d-0f83e26bb154.png)

[2020-09-12 14:22] nicolae-stroncea opened #42 "Integrate Blanket Play/Pause into Gnome"
Thanks for creating a fantastic offline background noise app! It's great to set it and forget it, and not worry about ads, logging into anything, internet connection timing out or accidentally closing the tab.

I'm using the Blanket Flatpak on Fedora Gnome 3.36 and it would be great to be able to control it from keyboard, mainly I'd love to be able to pause it/resume it by using my keyboard shortc

[2020-09-12 14:35] rafaelmardojai commented on #42
Latest version provides MPRIS integration. So that is already possible.

You should be able to control it from the GNOME notifications panel or with keyboard media keys if there isn't other media player interfering.

[2020-09-12 15:55] Porrumentzio commented on #13
Also worked on MATE, thanks Rafael!

[2020-09-12 16:07] Porrumentzio opened #44 "Add tray icon to access the app rapidly when closed but running"
Since the sound can still be played when *closed* the app, what I lack is rapid way to access to it (instead of going to the system menu, search for it and opening) to change sound levels.

I think that this would be good solution to this. What do you think?

[2020-09-12 16:13] rafaelmardojai commented on #44
You should be able to open the app by clicking somewhere in the MPRIS integration.

If you can't, you should report it to your desktop. I don't know how Mate handles this.

[2020-09-12 16:23] Porrumentzio commented on #44
Is it supposed that with MPRIS integration there should be a tray icon? I don't really now how it works :sweat_smile:

[2020-09-12 16:32] rafaelmardojai commented on #44
It depends on your desktop.

GNOME for example, integrates MPRIS with a banner in the notification area, here's Blanket and a music player:
![Captura de pantalla de 2020-09-12 11-27-07](https://user-images.githubusercontent.com/6210397/93000019-0d8c1e80-f4eb-11ea-99fe-ec1de2815a10.png)
If you click the banner the app will show up.

I think KDE adds an icon in the panel, and so on.
But I don't know

[2020-09-12 16:41] Porrumentzio commented on #44
Understood. So definitively, it's not like that, and the app can't be opened by clicking.

[2020-09-12 17:01] rafaelmardojai commented on #44
How looks the indicator to you in MATE?

[2020-09-12 18:16] Porrumentzio commented on #44
I even don't now if there is such thing. The most similar is the sound-control panel.

[2020-09-12 18:45] rafaelmardojai commented on #44
You don't have media controls in MATE?

[2020-09-12 18:47] Porrumentzio commented on #44
Seems that not, I didn't find anything like that.

[2020-09-12 18:56] rafaelmardojai commented on #44
Doesn't MATE has MPRIS controls in the volume indicator?

[2020-09-12 18:56] Porrumentzio commented on #44
This maybe:
![irudia](https://user-images.githubusercontent.com/61913683/93002897-7d75c580-f53a-11ea-8da3-9960801e928c.png)

[2020-09-12 19:00] rafaelmardojai commented on #44
Nothing like this in the panels?
![1UZHe](https://user-images.githubusercontent.com/6210397/93002956-3f5bb000-f500-11ea-9cae-752599fa353d.png)

[2020-09-12 19:02] Porrumentzio commented on #44
Nope. When Audacious playing, right click on its tray icons allows to pause/play and so on; left click opens the app.

[2020-09-12 19:07] rafaelmardojai commented on #44
That sounds like Audacious builtin systray. Strange to know that MATE doesn't have MPRIS support.

@apandada1 how does it play in Cinnamon?

[2020-09-12 19:12] Porrumentzio commented on #44
This is the only what I have found:
[msd-mpris-manager.c](https://github.com/mate-desktop/mate-settings-daemon/blob/master/plugins/mpris/msd-mpris-manager.c)

MATE is a fork of GNOME2

[2020-09-12 19:16] rafaelmardojai commented on #44
I know, but i thought they were using old Ubuntu's `indicator-sound` or something.

[2020-09-13 00:25] #41 closed

[2020-09-13 00:47] rafaelmardojai commented on #13
Released `0.3.1` with bug fixes.

[2020-09-13 02:35] apandada1 commented on #44
It plays correctly even after closing the app. It shows up in the volume indicator, and can be controlled with laptop's function keys. And, the app can again be opened quickly, by clicking the :arrow_up: button in the sound applet.

![Screenshot from 2020-09-13 07-56-47](https://user-images.githubusercontent.com/3063132/93008864-6dc1a580-f569-11ea-806c-8425f32998bb.png)

[2020-09-13 12:32] rafaelmardojai commented on #44
I'm closing this as a wontfix for the systray. I think MPRIS is enough for our needs, and widely supported (GNOME, KDE, Xfce, Cinnamon, etc.).

@Porrumentzio probably you can find some extension/applet for MATE that provides better MPRIS support. But researching looks like MATE already have decent support, so i don't know if is a fact of the Manjaro implementation.

[2020-09-13 12:32] #44 closed

[2020-09-13 17:17] apandada1 commented on #13
Now that these bugs have been fixed and there are interesting new features, it may be a good time to inform OMG Ubuntu once again.

[2020-09-13 20:29] haggen88 opened #46 "[Idea] Add new sounds"
I recently discovered Blanket. I think it is a very interesting app and perhaps the sound catalog could be expanded by including things like:
-sound of waves
-sound of birds
-sound train
[as in [asoftmurmur](https://asoftmurmur.com) / [noisli](https://www.noisli.com) / [ambient-mixer](https://www.ambient-mixer.com) ]

PS: Have you thought about improving the sound of Rain a little more? It usually

[2020-09-14 00:23] rafaelmardojai commented on #46
Before adding new sounds we should resolve #20 first. But i agree, those three would be nice additions.

[2020-09-17 06:24] RedGradient opened #47 "Remove saving window scroll position during scrolling"
Scrolling is laggy as the Blanket writes the window scroll position to disk directly during scrolling. It also makes my HDD make noise  (this is what prompted me to write an issue in the first place).

[2020-09-17 14:40] rafaelmardojai commented on #47
Now I'm binding the scroll with gsettings, could you test if this solve the issue?

Otherwise, I'm going to implement a more performant approach.

[2020-09-17 16:55] Porrumentzio commented on #46
Hi @haggen88! I totally agree with those sounds.

As noted at the end of #20, I proposed some specifications all sounds should have to be comfortable. I'm ready to have a hear to new sounds to make them more comfortable.
Do you have any concrete soundclip? Would they be downloaded from the internet or recorded?

[2020-09-17 16:57] Porrumentzio commented on #20
@rafaelmardojai, did you read the update?

[2020-09-18 01:35] RedGradient commented on #47
Nothing has changed. The program behavior is the same.
Version: 0.3.1.r6.g2d80889

[2020-09-18 02:02] rafaelmardojai commented on #47
Right. I will implement some logic to improve this.

[2020-09-18 05:05] haggen88 commented on #46
- For **waves** I can think of something like:
https://freesound.org/people/Luftrum/sounds/48412/
or one of calm sea and soft waves from here
https://www.soundsnap.com/search/audio/waves/score

- For the **train** I imagine a soothing sound from the wheels. Something similar could be:
https://freesound.org/people/SDLx/sounds/259988/
https://freesound.org/people/YOH/sounds/170866/
https://www.sound

[2020-09-18 06:53] Porrumentzio commented on #46
I'll analyze them some hours after. Are they all of free use?

[2020-09-18 07:26] haggen88 commented on #46
- [soundsnap](https://www.soundsnap.com/licence) licence // FAQ: [Legal](https://soundsnap.zendesk.com/hc/en-us/articles/115003916431)
- [freesound](https://freesound.org/forum/legal-help-and-attribution-questions/38292/) use Creative Commons variants [audio clips must be reviewed individually]

[2020-09-18 15:03] Porrumentzio commented on #46
Okay, so with licenses we won't have problems if saying the _author_ (done since now in Blanket).
I'll analyze those audios

[2020-09-18 15:21] Porrumentzio commented on #46
We won't have problems with those licenses, as Blanket is already saying the _authory_ of sounds.

I'll choose the more comfortable clips for me and adequate them to fit into the recommendations!

[2020-09-18 15:32] rafaelmardojai commented on #20
Sorry, I had been a little busy with other duties.

Yeah, I took a look at it. Looks pretty good.

I suppose now we should try to fit the current sounds to the recommendations or replace them?

Also I think you can start making the `CONTRIBUTING.md` doc with this recommendations, later I will update it to add other contributing guidelines.

[2020-09-18 15:35] Porrumentzio commented on #20
Hi! I'll now be working on porting sounds from #46 with a adequate criteria. After that I will create the CONTRIBUTING, but you can start with that, I won't make it today.

[2020-09-18 16:25] Porrumentzio commented on #46
I did not find any suitable and free soundclip for Train. I successfully modified the other three!

[2020-09-18 16:28] Porrumentzio commented on #20
I'm done. Now I'll PR.
About current sounds, my plan would be to try to fit them and otherwise replace them by new sounds.

I'm doing that too.

[2020-09-18 17:03] Porrumentzio commented on #20
I PRed the sounds. Now I'm with the CONTRIBUTING

[2020-09-18 19:07] rafaelmardojai opened #50 "4.0 Sounds"
### New sounds

**Nature**
- [x] Waves (#48)
- [x] Birds (#48)
- [x] Stream (#52)

**Travel**
- [x] Train (#51)
- [x] Boat (#55)
- [x] City (#55)

**Noise**
- [ ] Brown (Red) Noise

### Icons

- [ ] Waves
- [ ] Birds
- [ ] Stream
- [ ] Train
- [ ] Boat
- [ ] City
- [ ] Brown Noise

### Sound improvements
- [x] Rain (#48)
- [x] Storm (#48)
- [ ] Wind
- [ ] Summer Night
- [ ] Coffee Shop
- [ ] Firep

[2020-09-18 19:10] rafaelmardojai commented on #50
cc @Porrumentzio

[2020-09-18 19:38] haggen88 commented on #46
At the moment I am looking for clips more suitable for the sound of the train, something like this:
-https://podcast.ausha.co/asmr/relaxing-train-journey
-https://www.youtube.com/watch?v=4mFMXRWWffw

Something from inside the train where a subtle and periodic sound of the wheels can be perceived.

[2020-09-18 20:26] #46 closed

[2020-09-19 08:46] Porrumentzio commented on #46
I downloaded, trimmed and analyzed the first audio (that from YouTube has copyright) and although I like its sound, that is what you described, I has a very low range. Due to that I think that it won't be comfortable for listening to it on long time.

This, for sure, is arguable, this is very subjective :smile:
Thanks for your proposals @haggen88, they are very interesting, I'll try to fit the tra

[2020-09-19 10:47] haggen88 commented on #46
@Porrumentzio   I found audios that may interest you. Both are licensed [Creative Commons Sampling Plus 1.0](https://creativecommons.org/licenses/sampling+/1.0/). It is a license that is no longer promoted ([was retired](https://creativecommons.org/2011/09/12/celebrating-freesound-2-0-retiring-sampling-licenses/)) ... but since CC licences are [irrevocable](https://creativecommons.org/faq/#what-ha

[2020-09-19 12:09] Porrumentzio commented on #46
Hey, what a great work! Thanks for explaining the license, and you know what? The first clip is simply perfect!
I'll add it :)

[2020-09-19 13:03] haggen88 commented on #46
@Porrumentzio  Great!.
Since the current sound of rain will be improved, I would not like that sensation of moving water to be lost.
Would it be possible to add something like a stream ?. Here are some examples:

-https://freesound.org/people/INNORECORDS/sounds/469009/   [CC0 1.0]
-https://freesound.org/people/gluckose/sounds/333987/                [CC0 1.0]

[2020-09-19 14:23] rafaelmardojai commented on #50
@Porrumentzio any suggestions on what category use for Train? Should we change nature/interiors to outdoors/indoors?

[2020-09-19 15:08] Porrumentzio commented on #50
I think `Nature` will be more understandable than outdoors, so I would let it that way. I think we could add some category such as `Civilized` or something that way, to say that it has been changed by humans, but `Coffee Shop` is ambiguous between `Interiors` and `Civilized`

What do you think? And @haggen88?

[2020-09-19 15:30] rafaelmardojai commented on #50
What about `Civilization`?  And `Fireplace` could go in there since is a civilized fire? 🤣

[2020-09-19 15:39] haggen88 commented on #50
IMHO the train sound is recorded from inside the locomotive, even though it is moving outside [it is not a passing train].
It is necessary to see which criterion has more weight to define the sounds.
ex. They can be defined according to:
A) who / what produces them [natural / artificial-human]
B) the distance from the emitting source [near / interior - far / exterior].

[2020-09-19 15:39] Porrumentzio commented on #50
Could be :laughing: Doesn't uncivilized cultures make fire? Or is it so clear that that fire is in a chimney fireplace?

[2020-09-19 15:43] Porrumentzio commented on #50
I think that is more understandable to have an object-centred view of sounds, because our minds in current culture thought that way, not depending on the subject.
So I think that option A, sound source, will be more comprehensible.

[2020-09-19 15:46] Porrumentzio commented on #46
I analyzed them and they have an extremely tiny range, what is completely natural being a stream. If we add that sound, it should be on low volume, but I think it won't be very comfortable (it's very _repetitive_)

What do you think about that? Maybe also is me, that I'm more sensible to the range than others (this is very probable 😅)

[2020-09-19 16:02] rafaelmardojai commented on #46
Yeah, is very repetitive, but I think someone who wants to hear to a stream wouldn't be disappointed since is how is supposed to sound.

[2020-09-19 16:06] Porrumentzio commented on #46
For sure: some sounds are repetitive and monotonous and that's not bad. So lets add it?

[2020-09-19 16:22] haggen88 commented on #50
@Porrumentzio @rafaelmardojai

What is civilized or uncivilized is more complex [depending on who defines the level of culture]. Perhaps another selection criterion could be according to the mobility of the environment [static - in transit].

Perhaps a category of traffic / travel is easier to understand. Maybe in the future more sounds can be added such as boat or car travel [or car traffic / sof

[2020-09-19 16:32] Porrumentzio commented on #50
That's good. Something as Travel or Transport would be good I think

[2020-09-19 16:34] Porrumentzio commented on #50
What about writing down somewhere the possible future sounds? That way we could add them by groups and more organizedly

[2020-09-19 16:49] rafaelmardojai commented on #50
Yeah, that looks good.

But, what I don't want is the sound catalog to be very large. Currently we have 9 sounds (removing noise sounds that will be generated) witch are `13,5 Mb`. We need to put a limit on how much this could grow.

Probably later we can create an extended online catalog of curated sounds, and users can download those sounds inside the app.

[2020-09-19 16:57] Porrumentzio commented on #50
It has something to see the length of files. Does the app cycle through all the length of each file or does only take a piece of it?

If the second case, the sound comfortability will decrease but the files could be cut.

[2020-09-19 16:59] rafaelmardojai commented on #50
The app loop the whole audio file.

[2020-09-19 17:02] Porrumentzio commented on #50
Okay, so it would be good to put a limit of disk, although I don't really understand the reason.

Other possibility would be to work with plugin-packages: `travel-sounds-blanket`, `nature-sounds-blanket` and so on. This way the main app would be lightweight but it would be easy to add more sounds (an announcement about this in the app would be great for users)

[2020-09-19 17:03] haggen88 commented on #50
Personally to this new category I would leave it with 3 sounds:
-train [done]**
-boat
-light traffic / street sounds

[2020-09-19 19:32] haggen88 commented on #46
@Porrumentzio     Personally, I especially like it when combined with the sound of the birds, I leave it up to you.

[2020-09-20 09:23] Porrumentzio commented on #46
Done #52

[2020-09-20 11:45] Porrumentzio opened #54 "No icon on Marco window manager [MATE]"
No matter if installed via AUR or compiled, Blanket does not have icon on Marco window manager, MATE.
![irudia](https://user-images.githubusercontent.com/61913683/93710476-70af2e00-fb47-11ea-825d-2617fe4deee7.png)
Happened on Manjaro MATE.

[2020-09-20 14:24] rafaelmardojai commented on #50
I'm fine about adding those. We don't want the new `Transport` category to have one sound.

I just don't want to bloat users with a lot of sounds that they are not going to use. We should ship the sounds that people expect in this kind of program.

Yeah, that is another option. But having an online catalog allows us to add new sounds without releasing new versions.

[2020-09-20 14:36] rafaelmardojai commented on #54
Can you test if this commit fix the issue?

[2020-09-20 17:16] Porrumentzio commented on #50
No matter the how, it's okay :)
I'll have a look to new sounds.

[2020-09-20 17:19] Porrumentzio commented on #54
It doesn't

[2020-09-20 17:23] rafaelmardojai commented on #54
Test again, [b3d0f92] should fix this.

[2020-09-20 17:26] haggen88 commented on #50
I have a doubt ... does the reproduction of the current loop of the sounds have some kind of crosfade? Or are the sound clips edited in such a way as to make the sounds more "continuous" and without volume drops / silences?.

[2020-09-20 17:29] Porrumentzio commented on #50
They have not such a think AFAIK. Most sounds coincide that the beginning and ending are similar and match. I'm just gonna change the new rain clip because the loop limit is noticeable.

Do you dislike that?

[2020-09-20 17:30] rafaelmardojai commented on #50
`light traffic / street sounds` could be named `City Trafic` or simply `Street`.

When I created the app, edited some sounds to avoid gaps when looping.

[2020-09-20 17:30] Porrumentzio commented on #50
By the way, @haggen88, could you add the links to those new transport sounds please?

[2020-09-20 17:31] haggen88 commented on #50
- https://freesound.org/people/Falcet/sounds/439365/  >  Ambience_Sea_Boat_Night_Ropes_4 / [CC0 1.0]
- https://freesound.org/people/Falcet/sounds/439368/ >  Ambience_Sea_Boat_Night_Ropes_1 / [CC0 1.0]

- https://freesound.org/people/gezortenplotz/sounds/44796/   > NY Streets / [CC BY 3.0]

[2020-09-20 17:44] Porrumentzio commented on #50
Thanks for the links @haggen88! The clips are edited to fit in the loop.

@rafaelmardojai, what about `City` for the NY street sound?

[2020-09-20 17:54] Porrumentzio commented on #54
Works!

[2020-09-20 17:54] #54 closed

[2020-09-20 17:54] rafaelmardojai commented on #50
`City` and `Street` fits perfect for that sound. But I prefer to `Street` as personal taste.

[2020-09-20 17:57] rafaelmardojai commented on #54
I commited [423097d] to use the symbolic icon instead because is displayed very small.

Could you confirm how it looks?

[2020-09-20 17:58] Porrumentzio commented on #50
It doesn't really matter to me. For me City is more accurate, because the streets on my tiny village doesn't sound that way, but only those of cities 😅🤣

[2020-09-20 18:01] rafaelmardojai commented on #50
You got a point. Let's go with `City`.

[2020-09-20 18:35] Porrumentzio commented on #54
mmm
It worked, but it's worse now:
![irudia](https://user-images.githubusercontent.com/61913683/93719097-bd632b00-fb80-11ea-8b4c-918d3f73cb73.png)

A solution could be to add a white border to the icon

[2020-09-20 21:57] rafaelmardojai commented on #54
Added a new icon with white border. How looks now?

[2020-09-20 22:04] rafaelmardojai commented on #50
Just added the new sounds to the UI. Just need to get some free time to work on icons.

[2020-09-21 03:34] haggen88 commented on #44
@rafaelmardojai  a query. Is there a whiter version of the blanket icon? At the moment in Cinnamon [Mint 20] it looks like this:

![MB](https://user-images.githubusercontent.com/68134588/93731104-f5c73100-fba1-11ea-90c7-206e6f77ee57.png)

[2020-09-21 05:28] psukys opened #56 "Failure to run due to unsupported locale setting"
Hey, after installing on Fedora 32 and attempting to run, I got the following error (application didn't continue)

[code]

[2020-09-21 12:08] apandada1 commented on #56
Does this help? https://stackoverflow.com/a/36257050/3128341

Someone commented that the debian specific last command was not required.

[2020-09-21 12:33] rafaelmardojai commented on #56
@psukys Could you test current git master?

[2020-09-21 12:43] psukys commented on #56
@apandada1 this does help (and indeed `dpkg` is not by default on Fedora), any specifics - why?

@rafaelmardojai attempted to manually build and run, but failed:
[code]

[2020-09-21 13:03] rafaelmardojai commented on #56
I'm also running Fedora 32 with the `LC_ALL` empty and, never got this error.

This  was also reported here: https://github.com/flathub/com.rafaelmardojai.Blanket/issues/4. And should be fixed in current master.

Could you download the flatpak attached on that issue?

[2020-09-21 14:47] Porrumentzio commented on #54
Now it's better, although it looks a bit like 16-bit
![irudia](https://user-images.githubusercontent.com/61913683/93781849-1a66eb80-fc2a-11ea-9b13-c74d60a714af.png)

It's good like that 👍

[2020-09-21 14:51] Porrumentzio commented on #50
I'm testing them. Test by yourself too and say if the level is okay. Seems to me that the volume is maybe a bit low, but maybe that's because before they were too loud.

[2020-09-21 15:02] Porrumentzio opened #57 "Blanket faders modify system fader upwards"
Changing the Blanket faders, both with mouse and with wheel, changes the general system sound level.
Tested in Manjaro MATE, both with JACK and PulseAudio.

_I also have the video file with sound if needed_
![Blanket-57-2020-09-21-165735](https://user-images.githubusercontent.com/61913683/93783512-0c19cf00-fc2c-11ea-8c39-00347d4db812.gif)

git version 2020/09/21 [9b99f1094e8de1aba1c25c9bd6aab99be1

[2020-09-21 15:04] Porrumentzio commented on #44
This is the new one since 2020/09/21
![irudia](https://user-images.githubusercontent.com/61913683/93781849-1a66eb80-fc2a-11ea-9b13-c74d60a714af.png)

[2020-09-21 15:17] rafaelmardojai commented on #44
Not really, @haggen88 is getting the icon for pulseaudio, which don't have white borders.

If the icon is `symbolic` the DE should be able to turn it white like GNOME shell.

![Captura de pantalla de 2020-09-21 10-16-24](https://user-images.githubusercontent.com/6210397/93785366-a1e53800-fbf3-11ea-9fa1-c8c52c3c8c6d.png)

![Captura de pantalla de 2020-09-21 10-17-01](https://user-images.githubuserc

[2020-09-21 15:24] rafaelmardojai commented on #57
This behaves as expected in my Fedora 32 setup.

![RecApp-2020-09-21-10:08:15](https://user-images.githubusercontent.com/6210397/93785385-a873af80-fbf3-11ea-80ae-f4d5c0a9d4b9.gif)
*Sorry for the shitty GIF conversion 😂*

[2020-09-21 15:26] Porrumentzio commented on #57
Mmmm so maybe it's again the MPRIS integration on MATE?
If someone reading this and using MATE in other distro than Manjaro could test it would be great

[2020-09-21 15:28] rafaelmardojai commented on #57
Not really related to MPRIS. Just related on how MATE/Manjaro handles sound.

[2020-09-21 15:58] rafaelmardojai commented on #50
Overall sounds good to me.

The only detail is that the new rain is too soft for what I'm used 😅️, but not a real issue.

[2020-09-21 16:21] Porrumentzio commented on #50
It's possible that it's due to the new has a greater range (the perception is a lower volume). We'll have to test and test since have a good level of each sound, this is more a subjective issue than a mathematic.

So use it more and if in three days of use it's still too low, I'll change it :)

[2020-09-22 02:13] nicolae-stroncea commented on #42
You're right, I was using multiple media players which is what caused Blanket not to respond

[2020-09-22 02:13] #42 closed

[2020-09-22 05:25] rafaelmardojai commented on #50
Technically is fine. The issue is that I live in rain forest, and rain sometimes doesn't sounds like that 😂

[2020-09-22 06:27] psukys commented on #56
@rafaelmardojai tried the attached flatpak, works well. Probably related log message that covers the empty locale
[code]

[2020-09-22 06:34] apandada1 commented on #56
@psukys the error when to tried to run blanket from source implies you will have to install version 1 of `libhandy` (using rpm).

[2020-09-22 13:48] Porrumentzio commented on #50
We should so name that sound as "Non-rainforest Rain" 😉

[2020-09-22 15:08] rafaelmardojai commented on #56
Yeah, the local issue is still there, but at least the app will launch.

Out of curiosity, what is your `locale` output?

[2020-09-23 03:47] rafaelmardojai commented on #47
I have implemented smart scroll saving. Could you test if still lags for you?

[2020-09-24 05:00] psukys commented on #56
nothing too out of the ordinary, I suppose:
[code]

[2020-09-25 07:45] RedGradient commented on #47
There is no lags anymore. However, saving may not occur if less than a second has elapsed between changing the scroll and closing the window. You can set a smaller timeout, but why not just do the save when closing the window? The same approach can be applied to saving volume scrolls' position, which will drastically reduce the number of I/O operations.

[2020-09-27 14:41] rafaelmardojai commented on #47
That was my first idea, but constant electrical cuts where I live made me implement it in this way.

However, I agree about saving on close would be better. I will try to figure out a better approach, otherwise I will implement the save when closing the window.

[2020-09-28 18:37] haggen88 commented on #50
The sound concept of rain varies according to the experience given by the place where you live. I don't think there can be such a thing as a universal rain:
![output-1](https://user-images.githubusercontent.com/68134588/94470967-c797b180-019e-11eb-88f3-b1a98aedeb7a.png)

BTW here are some [concepts.zip](https://github.com/rafaelmardojai/blanket/files/5294281/concepts.zip) for the icons ... maybe t

[2020-09-30 04:41] apandada1 commented on #57
Works as expected with XFCE 4.14 in Xubuntu 20.04

[2020-09-30 16:44] Porrumentzio commented on #57
I tested in Linux Mint with MATE and worked well. So probably it's a problem with Manjaro.

[2020-10-01 02:19] apandada1 commented on #57
@Porrumentzio Maybe, you can ask in the Manjaro Forums whether this is a known bug.

[2020-10-02 13:22] sschuhmann opened #61 "Saving different presets"
First of all, thank you for this wonderful app. I really like to use it during concentrated work sessions.

Depending on the time of the day or work I have different preferred sound themes, such as coffee shop with light wind for the day and later in the day a windy and stormy theme. Therefore I currently need to adjust all levels if I want to change.

It would be nice, if we can save specific the

[2020-10-02 13:51] rafaelmardojai commented on #61
Yeah, this is definitely something we want.

[2020-10-02 16:52] Porrumentzio commented on #57
Done: https://forum.manjaro.org/t/app-fader-modifies-system-fader/29441?u=porru

Let's wait to someone's answer

[2020-10-03 08:14] Porrumentzio commented on #57
So seems that it's my problem, due to having Jack installed I suppose.
Here's the answer on the forum.

[2020-10-03 08:14] #57 closed

[2020-10-05 12:15] CharoSW commented on #50
Would it be possible to add Brown noise along side the Pink and White noise?

[2020-10-13 10:04] maymage opened #64 "Customize Icons of Custom Sounds"
When adding a custom sound, it would be nice to be able to set an icon accordingly.

[2020-10-17 00:03] sudoquai opened #65 "New Option: Start Hidden in Background"
First of all:  I love Blanket - always searched something like that.

At the moment i am using Audacious with a Bird mp3 when my system boots, because it's able to start hidden (using the gnome media control for audacious so everything is pretty seemless)

Would it be possible to (auto) start Blanket, too ? Thx.

[2020-10-18 11:10] Skraylet opened #66 "Scroll is broken when using touchpad"
OS: Fedora 32
Program version: 0.3.1 (from Flathub)

When scrolling with mouse everything works as expected. But with touchpad scroll position jumps either to the bottom or to the top.
You can see the problem in the attached GIF
![Screencast2](https://user-images.githubusercontent.com/26380693/96365503-b01e6980-1149-11eb-98c8-1def03cd0b42.gif)

[2020-10-19 08:35] ilcaravaggio commented on #66
test if the problem also occurs with the rpm version:

https://copr.fedorainfracloud.org/coprs/tuxino/blanket/

(is building at the moment)

[2020-10-19 13:57] Skraylet commented on #66
Tested. There is no such issue in the rpm version

[2020-10-19 15:19] rafaelmardojai commented on #66
It's reproducible from other GNOME/Flathub apps? Or only Blanket if affected?

[2020-10-19 17:10] Skraylet commented on #66
Most of apps installed on my system are flatpaks. And they behave correctly. I think it's Blanket specific bug.

[2020-10-23 11:10] MichalLebeda opened #67 "Small click sounds"
Hi, great app, but I have one problem. I hear small click/pause sometimes (I guess it's when the loop ends). Tried to play those ogg files in audacity, click is still there but much much smaller & less noticeable with pretty much no pause. I'm using flatpak version. Still great app but cannot use it right now as I have very sensitive ears.

[2020-10-24 19:32] MichalLebeda commented on #66
Can confirm this with flatpak version installed

[2020-10-26 19:12] rafaelmardojai commented on #65
I don't know how is the state of auto start in Flatpak.

But for now a will add the `--hidden` flag to launch the app hidden.

[2020-10-26 19:13] rafaelmardojai commented on #67
@Porrumentzio Can you reproduce this?

I don't know if it's some performance issue with the loopping.

[2020-10-26 20:36] sudoquai commented on #65
Thank you very much @rafaelmardojai :+1:

[2020-10-27 08:07] Porrumentzio commented on #67
@MichalLebeda, could you specify in which soundclips you listen to those clicks and pauses most?

[2020-10-28 13:52] MichalLebeda commented on #67
I think wind is pretty noticeable. Will post yt vid or something with marked clicks later. Btw are all the sounds playing with 0 volume or only those with volume > 0? It sounds like when I turn some clips volume to 0, and then raise volume again the play position is not the same

[2020-10-28 14:10] rafaelmardojai commented on #67
The sounds are only played when volume > 0.

[2020-10-28 14:30] rafaelmardojai commented on #67
@MichalLebeda have you tried building from source to test if the issue is present in current master?

[2020-10-28 15:11] Porrumentzio commented on #67
I think that I know the reason for those clips. I'll try to solve this :)

[2020-10-28 15:24] Porrumentzio commented on #67
Nope, I think it's an issue with how the program manages the loops, not the sounds. Looping it with other programs does not produce any click

[2020-10-30 20:45] MichalLebeda commented on #67
So I found out I cannot record screen under wayland nor separate wayland window. Maybe I will use my phone when I have some time (school is much harder now). Will try current master and let you know

[2020-10-30 21:00] MichalLebeda commented on #67
I can still hear click (on master build) especially when playing wind sample.

[2020-10-30 21:18] rafaelmardojai commented on #67
Could try version `0.2.0` when building from source? Running `git checkout 0.2.0` in git clone.

That version had a different looping approach.

[2020-10-30 21:59] MichalLebeda commented on #67
I think it sounds better! still hear small click but that could be the sample itself. I think that I don't hear any pause

[2020-10-30 22:40] rafaelmardojai commented on #67
Ok, I'm going to re-implement that approach.

[2020-10-30 22:56] rafaelmardojai commented on #67
@Porrumentzio could you do the same and use the custom sound feature to test our new audios?

[2020-10-31 06:32] apandada1 commented on #65
`blanket --hidden` works with the daily builds PPA as well.

[2020-11-04 12:22] bilelmoussaoui commented on #65
Flatpak has a portal for autostart/running in the background.

[2020-11-04 12:44] rafaelmardojai commented on #65
You know what is the best way to implement this? I have to call `EnableAutostart` directly with D-Bus?

[2020-11-04 12:49] bilelmoussaoui commented on #65
You need to use the RequestBackground dbus call https://flatpak.github.io/xdg-desktop-portal/portal-docs.html#gdbus-method-org-freedesktop-portal-Background.RequestBackground. One thing to be aware of is that the portals waits for a user interaction (approval/or not of the interaction). The way it's handled is that each portal request, sends you an object path (mostly a dbus path) that you can cal

[2020-11-26 23:16] rafaelmardojai commented on #65
I see, I was looking to the wrong documentation.

You know if there are future plans to implement this at the toolkit level?

[2020-11-26 23:16] rafaelmardojai commented on #65
I see, I was looking to the wrong documentation.

You know if there are future plans to implement this at the toolkit level?

[2020-11-30 00:49] rafaelmardojai commented on #67
Finally got time to work on this.

@MichalLebeda could you test the new looping method? Also probably the recent sounds makes the difference.

[2020-12-11 13:11] jimmac opened #77 "Provide missing graphics"
I think the number of default sounds should be kept at a minimum. Currently the fold is somewhere at the 6 item mark. I would suggest de-emphasizing additional sounds by providing them in a more compact list below, perhaps using a symbolic icon or no icon at all. This would also help avoiding issues like [this one](https://github.com/rafaelmardojai/blanket/issues/64).

For now, Blanket should at l

[2020-12-11 13:12] jimmac commented on #77
Concept for the waves:
![image](https://user-images.githubusercontent.com/14821/101907486-eeb92900-3bba-11eb-827a-31e805e082fa.png)

[2020-12-11 13:16] jimmac opened #78 "Tone down the icon shadow"
I understand the dropshadow has been added for legibility of the light icons as they are presented on a white background, but the shadow seems pretty dominant and making the artwork appear a bit fuzzy.

![Before](https://user-images.githubusercontent.com/14821/101907694-3770e200-3bbb-11eb-8a88-9d498100ee1e.png)

[2020-12-11 13:17] jimmac commented on #78
Using the standard `icon-dropshadow` class styled by gtk itself:

![Screenshot from 2020-12-11 14-16-42](https://user-images.githubusercontent.com/14821/101907941-93d40180-3bbb-11eb-8463-4abfba834332.png)

[2020-12-11 13:53] jimmac commented on #77
Stream is a little less successful for now...

![image](https://user-images.githubusercontent.com/14821/101911371-8d945400-3bc0-11eb-855b-d99e0835b7fb.jpeg)
![image](https://user-images.githubusercontent.com/14821/101911384-92f19e80-3bc0-11eb-8985-3d8cee5ab0f0.jpeg)

[2020-12-11 14:33] #78 closed

[2020-12-11 14:50] rafaelmardojai commented on #77
Thanks for working on this!

We're also missing icons for Train, Boat and City (see #50).

Yeah, definitely I will go that way.

[2020-12-11 14:58] rafaelmardojai commented on #77
I really like the Waves concept.

Both Stream concepts also look cool, and I can't decide 😂.

[2020-12-11 16:30] jimmac commented on #77
Not quite the bird you'd like to fall asleep to:

![image](https://user-images.githubusercontent.com/14821/101928972-8a0bc780-3bd6-11eb-8ff4-0889ab9ce544.png)

[2020-12-11 17:21] rafaelmardojai commented on #77
But it fits with the geometric style 😅.

I like it, but what if it has a friend?

[2020-12-11 17:24] jimmac commented on #77
While working on these, I've grown convinced that the fullcolor icon style is not appropriate for these. I think the symbolic icons would be more appropriate. If you're really into a larger illustration, I bet hairline/outline style would feel way more elegant.

[2020-12-11 18:14] rafaelmardojai commented on #77
Yes, you are right. And the outline style will help to have a bit more detail compared to a regular symbolic icon.

My only concern is if this style will feel out of place in GNOME.

[2020-12-11 22:03] jimmac commented on #77
There are always special cases. Considering these to be image assets (perhaps even animated) and not icons, I think it's a area where Blanket can be a great first test bed. There's some experimental [Lottie](https://airbnb.design/lottie/) support being worked on by the gtk developers, but for now I'll take a look at producing some 64x64px nominal static SVGs.

[2020-12-12 13:17] haggen88 commented on #77
some ideas... [concepts.zip](https://github.com/rafaelmardojai/blanket/files/5683125/concepts.zip)

[2020-12-16 07:32] apandada1 opened #80 "The golden moon icon (summer night) is too bright"
The previous icon for summer night (silver moon with golden stars) was pleasing to look at.

The new icon seems to be too bright (it looks more like the sun than the moon), and somewhat distracting.

(The icons suggested in #77 are great, by the way)

[2020-12-16 11:53] rafaelmardojai commented on #80
Yeah, I feel the same. But with #77 we will introduce an outline icon style, so the new icon will be gone.

I'm closing this since the new brighter icon hasn't been released.

[2020-12-16 11:53] #80 closed

[2020-12-16 16:12] rafaelmardojai commented on #77
Go ahead, I think we can do something cool here. Definitely animated icons will look awesome in the future.

[2020-12-20 18:01] WuerfelDev commented on #56
I just installed it from flathub and ran into the same problem. It works temporary by manually setting the LC_ALL. (But only if its started via command from the same terminal window)

[2020-12-23 18:35] BrunoVernay commented on #56
Same on Fedora 33:
[code]

[code]
This works : `LC_ALL="en_US.UTF-8" flatpak run com.rafaelmardojai.Blanket`

[2020-12-23 18:38] rafaelmardojai commented on #56
Could you test this flatpak? [com.rafaelmardojai.Blanket.zip](https://github.com/flathub/com.rafaelmardojai.Blanket/files/5229643/com.rafaelmardojai.Blanket.zip)

[2020-12-23 18:46] BrunoVernay opened #81 "Probabilistic repetitions for Storm and Birds typically"
Some sounds could benefits from being NOT continuously repeated.
Birds and Storm are the typical example.  It could even be improved by steps:

1. the current sound could be played randomly, not looped.
2. The probability to have the sound played over a period of time could be configured with a second slider (not frequent  to  very frequent)
3. The "Bird Sound" could be composed from multiple bird

[2020-12-23 18:57] BrunoVernay commented on #56
Just a warning, but works 0.3.1 seems OK

[code]

[2020-12-24 10:17] BrunoVernay opened #82 "Shows too many lines in Gnome Settings"
In Gnome Settings there is one line per Blanket sound.
There should be only one general volume for Blanket here.
![image](https://user-images.githubusercontent.com/132261/103081895-3c7d5a80-45d9-11eb-8061-b7fd54d2234c.png)

Using Gnome 3.38.2 on Fedora 33

[2020-12-24 12:39] rafaelmardojai commented on #82
I can't do anything, for example web browsers also show one line per video/audio playing. I don't know if GStreamer allows me to merge different sounds into one player.

Maybe GNOME could group volume bars per app?

[2020-12-24 13:45] BrunoVernay commented on #82
I guess it should be possible to mixdown to stereo inside Blancket to present only a stereo output to the outside.

I use many sounds together, that is why this jumped at me, but it is a minor issue.  Feel free to postpone to next year :-)

[2020-12-24 21:20] MichalLebeda commented on #67
should I build it myself or use flatpak?

[2020-12-24 21:36] rafaelmardojai commented on #67
You can build it, or [download the flatpak artifact](https://github.com/rafaelmardojai/blanket/suites/1675870909/artifacts/31304404) from the last commit.

[2020-12-25 13:14] MichalLebeda commented on #67
It seems to be FIXED!!! Thanks for fixing the issue it is a really nice app

[2020-12-25 13:24] MichalLebeda commented on #67
Maybe I didn't noticed before but now there is something strange (It may be present in previous version). It looks like turning volume up of some clip and then turning it completely off doesnt stop sound playing at volume 0.

![image](https://user-images.githubusercontent.com/5246963/103135990-bf2b1600-46bc-11eb-9500-afdca9bb4563.png)

[2020-12-25 14:55] psukys commented on #56
Can't reproduce on 0.3.1

[2020-12-25 14:55] #56 closed

[2020-12-26 19:51] rafaelmardojai commented on #67
What do you mean? Sounds are paused when vol is 0 (That doesn't mean that it will disappear from GNOME Settings).

[2020-12-26 22:57] MichalLebeda commented on #67
Ok, I think everything works well then

[2021-01-03 11:17] shmu26 opened #84 "icon missing on Xfce"
The icon for the active window on the Xfce panel is just a generic square box.
However, the icon pinned to the panel (which merely serves as a shortcut) displays properly.
In the screenshot of the Xfce panel, the active icon for Blanket is the second from the top.
Lower down, you can see how the pinned icon displays properly. It is under the Google Chrome icon.

I am running the Flatpak of Blanket

[2021-01-05 18:51] apandada1 commented on #84
Is the same issue also present in .deb/ppa?

[2021-01-05 19:01] shmu26 commented on #84
Tell me where to get a .deb and I will give it a try.
I don't use Ubuntu PPAs on MX Linux, it's liable to break the system.

[2021-01-05 19:10] apandada1 opened #85 "copyright of sound tracks"
I am planning to submit v0.3.1 to the official Debian repositories because v0.4 may still take some time.
The Debian developers are very strict about copyright of the files uploaded.
It may be a good idea to list the copyright info/credits of all the sound tracks in the README or another file so that we can use that to package for Debian and other distributions.

[2021-01-05 19:14] apandada1 commented on #84
Here is the link to the .deb file. https://launchpad.net/~apandada1/+archive/ubuntu/blanket/+files/blanket_0.3.1-1~ubuntu20.04.1_all.deb

Here are the links for libhandy-1, which is a dependency, and may not be available in your system.
https://launchpad.net/~apandada1/+archive/ubuntu/blanket/+files/libhandy-1-0_0.90.0-0~202009060346~ubuntu20.04.1_amd64.deb
https://launchpad.net/~apandada1/+archiv

[2021-01-05 19:19] rafaelmardojai commented on #85
There's some info about the clips in [this doc](https://github.com/rafaelmardojai/blanket/blob/master/doc/Sound_documentation.md). The sounds with `Unknown` license are creative commons, but i haven't the time to checkout the exact license.

 I will try to make a complete doc about sounds copyright soon.

[2021-01-05 20:13] shmu26 commented on #84
Yup, same issue with the .deb

On Tue, Jan 5, 2021 at 8:52 PM Archisman Panigrahi <notifications@github.com>
wrote:

[2021-01-06 19:24] jimmac commented on #77
The one thing before figuring out the animated icons might be to de-emphasize the inactive sound icons with something like `opacity: 0.8;`

[2021-01-06 19:34] jimmac commented on #77
Alternatively having them blue when active would be better, but I'm not sure it's doable without duplicating assets.

[2021-01-06 20:11] #77 closed

[2021-01-06 20:30] rafaelmardojai commented on #77
There's no way to make them "colorable" with CSS like normal symbolic icons? I suppose they can't because they are made with strokes.

[2021-01-06 20:43] jimmac commented on #77
Strokes should be fine, worst case they can be converted to outlines. I'm not sure renaming to `-symbolic` will magically make it work though.

[2021-01-06 21:10] jimmac opened #87 "Differentiate between inactive and active sounds"
It would be nice to have the active sounds signified prominently by the icon other than having the speaker 16x16 symbol visible. I recommend setting a class for the active icon and provide custom CSS for the icons.

[2021-01-07 12:47] apandada1 commented on #77
Can we have the pastel effect (as in the attached images) instead of just the blue outline? It would look way cooler.

[2021-01-09 17:15] ArjunSingh99 commented on #81
I agree. The thunderstorm sound sounds very artificial with the way it's being looped. I think randomizing some of these sounds would make a world of difference. Having a probability slider sounds like complicating it a little bit, maybe that could be included in an "Advanced" tab.

[2021-01-15 07:44] johnfactotum commented on #84
I think this is a duplicate of #54.

[2021-01-15 13:10] rafaelmardojai commented on #84
Yeah, looks like the same issue. @shmu26 could you test the [flatpak artifact from the last commit](https://github.com/rafaelmardojai/blanket/suites/1780687505/artifacts/34031437)?

[2021-02-16 17:25] preIdiot opened #91 "A indicator in top bar for ubuntu and auto-start on startup option"
I really like the feature of keep playing the sound when closed, but it will be super awesome if I can control the extension from the top bar plus an option of auto-startup.
Please !!

[2021-02-16 19:54] lomapur opened #92 ""AttributeError: 'gi.repository.Gtk' object has no attribute 'Template'" when running on latest version from OpenSUSE repos"
Hello,

first of all - great application!

Problem:

After installing from repos on latest snapshot of OpenSUSE Tumbleweed Blanket does not start:

    Traceback (most recent call last):
    File "/usr/bin/blanket", line 48, in <module>
    from blanket import main
    File "/usr/share/blanket/blanket/main.py", line 34, in <module>
    from .window import BlanketWindow
    File "/usr/share/blanket

[2021-02-21 21:28] rafaelmardojai commented on #91
This is a duplicated of  #44 and #65.

The auto-start on startup option will be implemented soon with the `xdg-desktop-portal` APIs.

About the indicator, this app already provides MPRIS integration, so you can control the app with the media controls of your desktop (see #14).

[2021-02-21 21:28] #91 closed

[2021-02-21 21:36] rafaelmardojai commented on #92
I only maintain the Flatpak package. Any other method is provided by the community.

@jubalh any ideas?

[2021-02-21 23:29] #87 closed

[2021-02-22 01:51] rafaelmardojai commented on #85
Now you can checkout this file https://github.com/rafaelmardojai/blanket/blob/master/SOUNDS_LICENSING.md for sounds licensing info.

[2021-02-22 01:51] #85 closed

[2021-02-22 08:42] jubalh commented on #92
Strange. For me it runs perfectly. But I'm a few snapshots behind. Will take a look at it soon.

[2021-02-22 17:18] Conan-Kudo commented on #92
I made some minor improvements in #94, but it seems like the overarching issue is that we're not requesting typelibs with the version. This would cause issues with gtk4 and gtk3 both being present on the same system, among other things.

[2021-02-24 21:42] jubalh commented on #92
@lomapur I updated to the latest snapshot today. Still works for me.

Can you tell me the output of `rpm -qR blanket` and `cat /etc/os-release | grep VERSION` ?

[2021-02-27 06:25] lomapur commented on #92
Sure, I updated yesterday (problem still persists):

    $ rpm -qR blanket
    /usr/bin/python3
    rpmlib(CompressedFileNames) <= 3.0.4-1
    rpmlib(FileDigests) <= 4.6.0-1
    rpmlib(PayloadFilesHavePrefix) <= 4.0-1
    rpmlib(PayloadIsZstd) <= 5.4.18-1
    typelib(GLib)
    typelib(GObject)
    typelib(Gdk) = 3.0
    typelib(Gio)
    typelib(Gst) = 1.0
    typelib(GstPlayer) = 1.0
    typelib(G

[2021-02-27 08:28] jubalh commented on #92
I found https://gitlab.gnome.org/GNOME/pygobject/-/issues/423 which is about PyGObject not being updated for gtk4 yet. Maybe it is related.

[2021-02-27 19:51] rafaelmardojai commented on #92
It could affect a GTK3 app?

[2021-03-05 05:28] apandada1 commented on #84
This seems to have been fixed in latest code in git with XFCE 4.16 (Manjaro).
Default Window Buttons plugin in XFCE. In my opinion, the default blanket icon would look better than this icon.
![Screenshot_2021-03-02_21-12-22](https://user-images.githubusercontent.com/3063132/110071178-9a7caa00-7da1-11eb-923d-1c733d026043.jpg)

With [xfce-doclike-plugin](https://github.com/nsz32/docklike-plugin) fro

[2021-03-12 14:03] n8willis commented on #81
For the record, probabilistically varying sounds is precisely what Boodler is for: https://github.com/erkyrath/boodler (or a somewhat-newer fork, https://github.com/beaugunderson/boodler-redux).

There is also a decent library of existing soundscapes for Boodler out there; it likely is not well known because it was not Linux-first, but this and a few of the other open issues relate directly to the

[2021-03-18 10:30] archisman-panigrahi opened #96 "MPRIS Control does not work in KDE"
The play/pause control does not work in KDE Plasma (KDE Neon 20.04 and Kubuntu 20.04) with the laptop's function keys (play/pause works when I click on the play/pause button with mouse).
However, the MPRIS control does work in the same laptop in GTK based DEs, like Cinnamon and XFCE. I used the latest git branch.
Also, it does not show up in KDE sound applet as an application playing music.

Most

[2021-03-26 05:54] rafaelmardojai opened #97 "Update translations for 0.4.0"
I'm going to release 0.4.0 soon, if you have time to update the translations would be very awesome.

Thanks in advance!

- [x] Catalan @fitojb
- [x] German @eladyn
- [x] Esperanto @Porrumentzio
- [x] Spanish @rafaelmardojai
- [x] Basque @Porrumentzio
- [x] French @maoschanz @julroy67
- [x] Croatian @milotype
- [x] Italian @albanobattistella
- [x] Nepali @IBA4
- [x] Dutch @Vistaus
- [x] Brazilian P

[2021-03-26 09:13] Porrumentzio commented on #97
Wow, this has grown a lot! Basque and Esperanto done!

[2021-03-26 12:51] Vistaus commented on #97
Done! 🙂 #101

[2021-03-27 01:47] pedrofleck commented on #97
Hey, @rafaelmardojai, just letting you know that I'm still on board! First thing I'll be doing tomorrow.

[2021-04-08 04:29] rafaelmardojai commented on #97
@maoschanz @julroy67 @milotype Hey guys I'm ping you in case you missed it. In case you don't have time just let me know.

[2021-04-08 13:45] milotype opened #110 "Blanket translations"
If possible, please consider to add a "Translations" link to the Flathub-website "https://flathub.org/apps/details/com.rafaelmardojai.Blanket" (it should point to "https://github.com/rafaelmardojai/blanket/tree/master/po")

[2021-04-09 13:33] #110 closed

[2021-04-15 20:05] JohannPopper opened #111 "Audio Gap When SFX Loops"
Greetings. Thank you for this serene application. I wish to report a bug in the latest flatpak version that I've observed on the latest versions of Fedora and Ubuntu. When each audio SFX clip reaches the end (including custom sounds), it does not immediately loop, but rather there is an audible gap of ~1 second before it begins to play again. Therefore, the sounds can be quite jarring every ~8 sec

[2021-04-15 21:35] rafaelmardojai commented on #111
Probably is the same issue from #67, could you test the flatpak from last commit? https://github.com/rafaelmardojai/blanket/suites/2480054582/artifacts/53399603

[2021-04-16 02:33] #97 closed

[2021-04-16 04:16] #67 closed

[2021-04-16 04:16] #47 closed

[2021-04-16 04:16] #50 closed

[2021-04-16 04:16] #65 closed

[2021-04-16 04:17] rafaelmardojai commented on #64
I want to keep the app simpler as possible, `0.4.0` uses a more compact style for custom sounds so there's not icon at all.

[2021-04-16 04:18] #64 closed

[2021-04-16 04:25] rafaelmardojai commented on #84
Can someone confirm if it's fixed in `0.4.0`?

[2021-04-16 04:44] rafaelmardojai opened #112 "Add Brown (Red) Noise sound"
Moved from #50

[2021-04-16 05:56] apandada1 commented on #84
Yes, fixed.
![Screenshot_2021-04-16_11-23-36](https://user-images.githubusercontent.com/3063132/114978175-7fc04980-9ea6-11eb-922d-9103ceab3fc8.png)
And it also works with the xfce-docklike-plugin.

[2021-04-16 07:14] #84 closed

[2021-04-16 13:00] #28 closed

[2021-04-16 20:53] Skraylet commented on #66
Issue is not present in 0.4.0

[2021-04-16 20:53] #66 closed

[2021-04-17 14:48] apandada1 opened #113 "[How to] use Blanket in Android device with Termux"
There is a way to use Blanket in almost any Android device.

**Summary:**
- Install Termux in Android
- Install rootfs for your favorite distro (I tried Ubuntu 20.04, but others should work too).
- Install a DE
- Set up VNC Server
- Install Blanket
- Set up sound

Demonstration - [Youtube video](https://www.youtube.com/watch?v=8T9x14EIeS0)

Details
------------------------------------------------

[2021-04-17 18:57] rafaelmardojai commented on #113
Really nice!

[2021-04-17 18:58] #113 closed

[2021-04-17 19:08] rafaelmardojai commented on #111
The new version `0.4.0` also contain those fixes, let me know if the issue continues.

[2021-04-18 18:31] fakhamatia opened #115 "Feature request: Reset volume all sounds"
Please add a button to reset volumes to 0

[2021-04-18 22:04] JohannPopper commented on #111
I apologize for disappearing for a few days. I just tested the latest release (which is really fantastic and superior in a number of other ways to previous versions). Seems to work perfectly so far. Thank you!

[2021-04-18 22:04] #111 closed

[2021-04-20 03:21] trymeouteh opened #117 "Windows Release"
Will it be possible to release this app for Windows?

[2021-04-20 04:56] rafaelmardojai commented on #117
Probably is technically possible, but I don't have time nor intention to do it.

But if someone wants to package it for Windows is welcome.

[2021-04-20 04:57] #117 closed

[2021-04-22 07:30] preIdiot opened #119 "Nothing happens on opening blanket"
I installed blanket on my Ubuntu 20.04  using the PPA but on running it nothing happens. I have installed all the dependencies but still, nothing works.
Help!

[2021-04-22 12:45] rafaelmardojai commented on #119
You get something running Blanket from terminal?

CC @apandada1

[2021-04-22 13:01] apandada1 commented on #119
Works for me in KDE Neon 20.04 (based on Ubuntu 20.04). The PPA ships libhandy1, and any other missing dependencies are supposed to be automatically installed during installation of blanket. We need the terminal output.

[2021-04-22 15:15] preIdiot commented on #119
Okay, now it is working, after a system restart. When I installed it earlier it was showing something like "blanket is not a terminal application" on running "blanket" on the terminal. Thanks for the assistance.

[2021-04-22 15:15] #119 closed

[2021-04-25 11:51] Dinock opened #121 "possibility to switch between dark/light mode"
Thank you very much for this FOSS-app! :)

I think it would be helpful to have a setting to be able to switch between a dark or a light mode.
Right now the app is always bright for me, even if I switch Ubuntu (20.10) to dark mode before restarting Blanket.

[2021-04-26 00:41] haggen88 commented on #121
It would be useful to have a button in Preferences that gives this option

[2021-04-28 14:12] rafaelmardojai commented on #96
Others GNOME sound apps like Lollypop work as expected?

[2021-04-28 14:27] apandada1 commented on #96
Yes, Lollypop works as expected (Tried v1.2.35 in the Ubuntu 20.04 repositories). When I play something, Lollypop also registers itself as a media player in the KDE notifications, but Blanket does not.

![Screenshot_20210428_194918](https://user-images.githubusercontent.com/3063132/116420335-844c1100-a85b-11eb-90ee-9536aa6b828c.png)

<sup> Lollypop in KDE's media player notifications </sup>

[2021-04-28 14:49] rafaelmardojai commented on #96
Have you seen if Plasma logs some error message?

[2021-04-28 15:04] apandada1 commented on #96
I don't know where such error messages (if they exist) are stored. Blanket does not print anything in the terminal.

[2021-04-28 15:13] rafaelmardojai commented on #96
Maybe with `journalctl`?

[2021-05-03 05:34] katattakd opened #128 "Feature requst: Ability to EQ sounds in the UI"
Being able to EQ individual sounds would be very useful for creating variants of them (like mimicking the deeper pitter-patter of rain on a rooftop, or making the wind sound different).

An in-depth EQ shouldn't be necessary, just a few EQ bands would be more than good enough. Being able to easily reset/save per-sound EQs would be helpful too.

[2021-05-03 19:55] eMPee584 opened #129 "Fading on pause / playback"
Hi, love this app and happy about the progress it's making.
Missing a fading functionality when pausing / stopping playback.. ( and a random mode, see https://f-droid.org/packages/com.github.ashutoshgngwr.noice )

[2021-05-19 09:34] ashishbinu commented on #44
I don't get systray in kde.Is that bug in the software.I get systray for various other applications like flameshot, ulauncher, mailspring,etc.

![Systray](https://user-images.githubusercontent.com/56691622/118790318-45860580-b8b3-11eb-9c19-921ee4774823.png)

[2021-05-19 09:55] apandada1 commented on #96
`journalctl -r` has too many entries. How do I find the (possible) error log of blanket in that?

[2021-05-19 09:57] apandada1 commented on #44
@ashishbinu This is KDE issue is probably a duplicate of #96 (Blanket does not register itself as a media playing application in KDE). Do the play/pause buttons work for you?

[2021-05-19 10:13] ashishbinu commented on #44
@apandada1  There is no play/pause button in my system if the windows is closed by `ctrl+w`.I can only mute the sound using volume control of blanket in my panel.

But having a systray to open the closed blanket window, having a play/pause button, a quit button would be good feature. Should I open an issue for that?

[2021-05-19 11:09] apandada1 commented on #44
I was referring to the media control buttons of a laptop. The play/pause button in the CSD headerbar, work perfectly on KDE.
When Blanket is minimized, there will be a way to play/pause once #96 is fixed. Other media players (e.g. VLC, lollypop) can be played and paused within KDE's sound applet. Blanket somehow cannot register itself as a media player in KDE.

[2021-05-19 12:37] rafaelmardojai commented on #96
Maybe only looking for KDE entries? `journalctl -f | grep --line-buffered kde`

[2021-05-19 17:31] Porrumentzio commented on #44
@ashishbinu, just what you ask for was asked before and rejected, see #44

[2021-05-23 12:21] heidiwenger opened #134 "Add the Finnish translation of the app"
I have the Finnish .po -file done, but i can't seem to make a a new pull request / upload.

[2021-05-23 13:15] rafaelmardojai commented on #134
What are the difficulties you're experiencing?

In any case you can send me the translation here attaching a `.zip` or send it to my email `email [at] rafaelmardojai [dot] com`.

[2021-06-19 15:28] Aneeqasif opened #137 "just a noob question"
sir i wanna know where the sound files are located on my system that blanket is using. I have one or two my own sound files that i like and i wanna replace the default ones. plz guide me where can i find the source directory o sounds so that i can replace them with my own one

[2021-06-19 16:10] #137 closed

[2021-07-05 13:47] SeaDve commented on #82
You could possibly create a custom pipeline. You can use audiomixer to join multiple audiostreams, this could also possibly make it more efficient, since you are essentially just playing with a single pipeline/player.

[2021-07-07 13:35] rafaelmardojai commented on #82
Yep, I checked audiomixer recently, but didn't have time to try. Soon I will have time to work on some Blanket issues.

[2021-07-19 03:56] rafaelmardojai commented on #61
This took longer than expected but finally is implemented on master.

If you can, try it out and send feedback before I release `0.5.0` :P.

[2021-07-19 03:57] rafaelmardojai commented on #115
Implemented on master with the new Presets functionality.

[2021-07-19 22:23] rafaelmardojai commented on #61
Current implementation looks like this:

https://user-images.githubusercontent.com/6210397/126234698-560a03e0-06d3-43f2-9628-55e0541c8838.mp4

[2021-07-20 13:36] rafaelmardojai commented on #61
Last refinement:

https://user-images.githubusercontent.com/6210397/126331145-9698f1f7-0293-492e-9d44-e60d6ba37876.mp4

[2021-07-28 18:42] tronta opened #145 "Feature Request: Toggle sound by one button press"
It would be great, if one could deactivate, activate (previous sound level) an individual sound by one click.

What about, if one clicks on the blue icon/pictogram it turns white again, with the slider still working and at the same position. And with an other click to turn it on again (turning blue).
When changing the slider, it gets active as well.

Imho, not sure, if the loud speaker symbol is r

[2021-07-28 19:57] rafaelmardojai commented on #145
Right now in `master`, the sound icon is colored when the sound is "active" (the slider is > 0) and the speaker icon is shown when it's actually playing (the general volume isn't 0 and the sounds aren't paused).

About the request, an option to mute sounds seems interesting, but I'm curious about the use case, I guess it's that you can save your preferred volume level while playing other sounds. I

[2021-07-28 20:01] tronta commented on #145
The use case is probably, playing around and activate deactivate different sounds fast and simple, to try different combinations.
Currently one needs to slide it left and right. But usually, I just want to hear it. Making it softer or louder is for me fine tuning.

[2021-07-28 20:08] rafaelmardojai commented on #145
Right, so activating a sounds that is deactivated (slider in 0), will activated it with the volume in let's say 50%?

[2021-07-28 20:14] tronta commented on #145
The slider could be set (also for the muted sounds) initially to eg 50%, so it's not too confusing for the user, what will happen if he/she activates it. When having moved it, it would be great, if it can store its value.
So eg the user might want the thunderstorm louder than the river, and so he/she does not need to set this after every start.

[2021-07-28 20:30] rafaelmardojai commented on #145
Correct. So sounds will save two values, **muted** and **volume**. When a sound is activated it toggles the muted state. If no saved volume exists (or is = 0%) when unmuted it set the volume to 50%.

That sounds fine?

[2021-07-28 20:32] tronta commented on #145
Sounds great for me!

[2021-07-28 20:37] tronta commented on #145
Not 100% sure about the discoverability that the icons can be clicked on. Maybe it would be better if they would have a button shape.

[2021-07-28 21:03] rafaelmardojai commented on #145
Other option is to make the whole sound row clickable, through I don't think it helps in discoverability.

[2021-07-29 04:24] rafaelmardojai commented on #145
This is what I have implemented for now:

https://user-images.githubusercontent.com/6210397/127430110-21e6392d-4ef3-4d8e-981f-3b5556813d7d.mp4

I'm still not sure if the activatable rows are enough discoverable.

[2021-07-29 04:52] tronta commented on #145
That's already really cool.
What I really like about your app is its clean design.
And therefore I still think the loud speaker disturbs a little, especially as there is already the color available :smile:

To the buttons: I guess if you sett the relief to half, it could be nice. And if the button is pressed, I guess it's clear enough, what's going on, and then no loud speaker is needed :smile:

[2021-07-29 15:05] rafaelmardojai commented on #145
Yeah, I added the speaker icon when we hadn't the "colorable" icons and I have kept it because it's connected to the player backend playing state and helped me to solve some issues when the backend wasn't playing sync with the UI.

Now I will remove it or keep it behind some hidden setting for debug purposes.

[2021-07-29 16:57] rafaelmardojai commented on #145
Also I should keep the speaker indicator for custom sounds, since them don't have an icon.

[2021-07-29 17:00] tronta commented on #145
I would suggest to add an icon for custom sounds as well. Eg a loudspeaker or a notes, or so.
So there would be more or less consistent.
What do you think?

[2021-07-29 17:15] rafaelmardojai commented on #145
They were like that before, they used this [sound wave icon](https://github.com/rafaelmardojai/blanket/blob/master/data/resources/icons/com.rafaelmardojai.Blanket-sound-wave-symbolic.svg), but I changed that in [cb40bf7278a2c24f9cfd0ed549d1981620306e6e] to implement a more compact design by GNOME designers recommendation and to avoid request like #64 because having various sounds together with the

[2021-07-29 18:17] tronta commented on #145
In my opinion not a lot of people will add many custom sounds, (But I can be of course wrong. That's what market studies and telemetry are there for :smile: ) And those icons are really pretty,
I personally would prefer consistency over compactness.
And the request https://github.com/rafaelmardojai/blanket/issues/64 is about a custom icon, so no contradiction, quite the opposite.

And I totally ag

[2021-07-29 20:59] rafaelmardojai commented on #145
Yeah, I meant that #64 is a fair request to mitigate the fact that various sounds with the same icon look odd, but that will add too much unneeded complexity.

Do you mean different colors when active? In any case probably different colors might be a bit complex, it will need different colors for light/dark mode, we already have a poor contrast with the blue color in dark mode.

Well for now I wil

[2021-07-30 06:33] tronta commented on #145
Btw thanks for your effort and your great app.

[2021-07-31 10:22] arax-1238 opened #146 "upgrading from Linux Mint 20.1 to 20.2 blanket no longer works"
With Mint 20.1 (installated using stable PPA stable releases) worked greatly!

Now with **Mint 20.2  does not work.  Here the errors**:

io@glutin:~$ blanket
Traceback (most recent call last):
  File "/usr/share/blanket/blanket/presets.py", line 48, in __init__
    self.presets_list.bind_model(self.model, self._create_widget)
AttributeError: 'Child' object has no attribute 'bind_model'
Error in sy

[2021-07-31 15:19] rafaelmardojai commented on #146
I can't figure out what is causing the error from what you have pasted. Also you're running the development version, because the errors reference to "presets" code which hasn't been released. From what source have you installed Blanket?

[2021-08-01 07:40] arax-1238 commented on #146
I was using daily buids ppa. Now I removed it and **using stable releases** ppa:apandada1/blanket **it works perfectly**.

Thank you very much for your help and for your great work !

[2021-08-01 07:40] #146 closed

[2021-08-02 20:20] haggen88 opened #147 "Sound improvements - update wind sound"
Hello. I would like to know if it is possible to improve the sound of the current wind, it seems to me that the current sound [whose loop seems a bit intense, somewhat saturated and with a poor range] can be improved to one that allows more and with little concentration and / or relaxation.

Here I found some alternatives, hopefully @Porrumentzio can give his opinion regarding the LUFS analysis an

[2021-08-04 16:46] overlisted opened #148 "Add local statistics"
I would love to know (and share) how much I've listened to each sound. That shouldn't be too hard to implement, right?

[2021-08-06 13:48] Porrumentzio commented on #147
**wind blowing in a field**: it's OK, volume must be decreased but alright.
**wind howling**: not OK, too small dynamic range
**johanwestling**: could be good. Low volume but it could fit, even if dynamic range is not very large (4,1LU)
**nickydunne**: not good, it's too monotone.
**Cinetony**: really good, needs increasing volume.

I would definitely go for first or last, as they have bird or woo

[2021-08-06 20:30] rafaelmardojai commented on #147
I kinda prefer the first if we're talking about a replacement. It's a more "pure" wind sound IMO.

[2021-08-06 22:42] haggen88 commented on #147
@Porrumentzio I agree "wind blowing in a field" is more suited to the wind profile, it also combines better with other sounds like rain and thunder.
I leave it up to you.

PS: I guess you have to make small adjustments to the clip to fit a loop without dramatic cuts.

[2021-08-06 22:51] rafaelmardojai commented on #147
Is a yes from my side, so @Porrumentzio if you have time to help on this would be awesome!

[2021-08-07 21:04] haggen88 commented on #147
BTW @rafaelmardojai @Porrumentzio  Is there any other sounds you want to update / replace?

[2021-08-08 17:49] rafaelmardojai commented on #147
@haggen88  I think Summer night, Coffee Shop and Fireplace weren't ideal in the test @Porrumentzio did, but we didn't find a better replacement so we keep them.

[2021-08-08 18:40] haggen88 commented on #147
@rafaelmardojai  I will try to find audio files that may be useful
[I will leave them in this thread].

[2021-08-17 00:02] haggen88 commented on #147
@Porrumentzio @rafaelmardojai  Here are some candidates for Fireplace:

- https://freesound.org/people/reinsamba/sounds/18766/ >  chimney fire by reinsamba [CC BY 3.0]

- https://freesound.org/people/kyles/sounds/454016/ >  fire in fireplace close1 by kyles [CC0 1.0]

- https://freesound.org/people/tosha73/sounds/513280/ >  Bonfire HQ by tosha73 [CC0 1.0]

- https://freesound.org/people/dobroide/s

[2021-08-18 03:17] haggen88 commented on #147
@Porrumentzio @rafaelmardojai Here are some candidates for **Summer night**:

- https://freesound.org/people/dobroide/sounds/20575/ >  20060706.night.forest02 by dobroide [CC BY 3.0]

- https://freesound.org/people/eric5335/sounds/102129/ > Summer night by eric5335 [CC BY-NC 3.0]

- https://freesound.org/people/hargissssound/sounds/319372/ > Cricket on Summer Night (binaural) by hargissssound [CC0

[2021-08-30 14:26] q2dg commented on #81
For me, solving this issue should be the priority number 1. Meanwhile, these sounds are a no-go

[2021-09-02 15:20] rafaelmardojai commented on #147
@Porrumentzio any comments? :P

[2021-09-02 17:33] Porrumentzio commented on #147
I'm busy with other projects, I can't give time to this right now. You can choose some of them according to what you hear (which of them sounds better and more comfortable) and then, maybe I will have time to analyze them

[2021-09-04 00:04] rafaelmardojai commented on #147
Ok! No problem, I will check the sounds when I got some free time and let you know. I want to release a new Blanket version next week but there's no hurry on solving this for that.

[2021-09-04 03:06] osirase commented on #112
Brown noise is best noise :)

[2021-09-04 23:06] haggen88 commented on #147
You have to avoid rushing, it would be good to wait for @Porrumentzio to calmly analyze the audios, otherwise I have 22 candidate samples to replace Coffee Shop [I have doubts that it really needs to be an adequate sound, I hope you guide me] ... I must also make a selection before publishing them.

Btw @rafaelmardojai something useful for the next launch would be to include a _circular blanket ic

[2021-09-04 23:42] rafaelmardojai commented on #147
Yeah, I don't have intention to rush about this, this can be solved in a posterior release. But I have some nice new features on `master` that I don't want too keep holding.

Hmm, I'm not sure, probably makes more sense asking the icons themes to support Blanket. Also for that to work I would need to copy that icon to specific icon theme locations what isn't great IMO.

[2021-09-07 21:40] jacksongoode opened #158 "Suggestions regarding interior/exterior sound simulatenity"
Love the app idea, interface and sounds. I wanted to pose a suggestion, and if accepted, I could possibly work on a PR. As of now the sound levels are simply levels it seems.

What I would imagine however, is that if a user had both interior and exterior sounds playing simultaneously, they would predict that the interior sounds be crisp and full spectrum while the exterior sounds would sound as th

[2021-09-08 15:23] gitSaptarshi commented on #61
@rafaelmardojai Its already looking delicious. I would like to suggest one feature. Besides editing preset names if we also get to add/remove sounds and manipulate the sound volumes of the preset, it will be marvelous. Just think about it, superpower!

[2021-09-08 19:33] rafaelmardojai commented on #61
What do you mean with `and manipulate the sound volumes of the preset`?

With the current implementation you can change the volume levels and those values will be saved in the preset. As you can see on the first video: https://github.com/rafaelmardojai/blanket/issues/61#issuecomment-882900966.

[2021-09-08 20:12] yebo29 opened #159 "Randomizing intensity of certain sounds"
Would it be possible to incorporate randomizing either the volume or intensity of rain, storm, and wind for example? I listen to some ambient YouTube tracks and they make it seem as if the storm ebbs and flows, like passing thunderstorms. Think it would be a neat feature and that way I don't have to use YT for it.

Thanks for a great app!

[2021-09-09 07:53] gitSaptarshi commented on #61
By manipulating I mean changing the volumes.

Hmm, the first video didn't load properly the last time. So I had missed it. Btw, this app is one of the complete implementation for features anybody wants. Keep up the good work.

[2021-09-09 18:57] realiis opened #161 "Feature Request: Some functionality from Noice app"
The Noice app (https://github.com/ashutoshgngwr/noice) has several functions that I miss in Blanket:
- Presets
- Repeat time peroid for individual sounds
- Random Presets
It would be great if at least one of these features appeared in Blanket

[2021-09-09 19:30] rafaelmardojai commented on #161
Presets are already implemented in the current development version to be released soon. And the other features are planed but currently I don't have to much time to work on my open source projects, so that will take some time.

[2021-09-17 23:26] rafaelmardojai opened #166 "Update translations for 0.5.0"
`0.5.0` will be released soon, if you have time to update the translations would be very awesome.

Thanks in advance!

- [ ] Catalan @fitojb @juxuanu
- [ ] Czech  @pervoj
- [ ] German @eladyn
- [ ] Esperanto @Porrumentzio
- [ ] Spanish  @rafaelmardojai
- [ ] Basque @Porrumentzio
- [ ] Persian  @mskf1383
- [ ] Finnish @heidiwenger
- [ ] French  @maoschanz @julroy67
- [ ] Irish @Moilleadoir
- [ ] Ga

[2021-09-18 00:33] haggen88 commented on #166
@rafaelmardojai  I think the translation of Boat in Spanish should be "Bote" no "Barco"

[2021-09-18 00:38] rafaelmardojai commented on #166
Yeah, makes sense, I don't remember why I choose "Barco", maybe the sound gave me the impression of a big boat :P. I will fix that.

[2021-09-18 04:55] eladyn commented on #166
I probably won't be able to update the translations within the next week or so, but maybe I can finish them in time so that they can be part of the next release.

[2021-09-18 08:28] hugok79 commented on #166
“Barco” is Portuguese for “Boat”

[2021-09-18 09:11] juxuanu commented on #166
In Spain, people say Barco and not Bote. Bote here usually refers to an smaller, auxiliary boat.

[2021-09-18 09:23] haggen88 commented on #166
The sound [wobble and sound of wood] refers to a small boat : https://freesound.org/people/Falcet/sounds/439368/

[2021-09-18 14:04] hugok79 commented on #166
It is the same in Portugal, **Boat=Barco** and **Dinghy=Bote**

[2021-09-18 20:50] milotype commented on #166
@eladyn If you want, you could review my German update at #178

[2021-09-20 12:03] rafaelmardojai commented on #166
@haggen88 I think I will stay with "Barco", culturally I can't think on a "Bote" with moving ropes. I would call it "Barco pequeño" but I don't think is needed :P

[2021-09-20 14:53] haggen88 commented on #166
@rafaelmardojai I leave it in your hands ... the important thing is the sounds as a concept.

[2021-09-26 15:23] rafaelmardojai commented on #166
I will release `0.5.0` on September 28. But don't worry if you don't get to update your translation, I will make a point release when the translations left are done.

[2021-09-27 14:08] Porrumentzio commented on #166
I don't have my usual developing environment usable and thus I can't make the translation. Did you think about using Weblate to host Blanket's translations? It would be more easier for translators (I could help on this)

[2021-09-27 15:29] Vistaus commented on #166
You don't need a development environment, you just need an app like Poedit. And even if you don't have that, you can edit po files in your favorite text editor.

That being said: Weblate or a similar service would be a good addition.

[2021-09-27 23:19] rafaelmardojai commented on #166
Yeah, I plan to use Weblate in the future (I'm already using it in other projects).

[2021-09-28 15:11] #115 closed

[2021-09-28 15:11] #145 closed

[2021-09-28 20:43] bertob opened #187 "Preset menu: More spacing left of check"
The check indicating the selected item is too close to the label, it needs 6 or 12px horizontal spacing:

![image](https://user-images.githubusercontent.com/1908896/135162536-5e43db6f-06b4-423f-8c31-dc9e34b63aee.png)

[2021-09-28 21:11] rafaelmardojai commented on #187
Hmm, this icon also has changed right? Looks like I didn't notice this because was smaller.

[2021-09-28 21:13] bertob commented on #187
It has, yeah. The problem with this icon is that we're using it both for selection mode in the headerbar and inline cases like this. For the latter we should have a second icon that's smaller, while the former should probably be even larger. Splitting that up into two icons is on my list, but you'll need more spacing here regardless :)

[2021-09-28 21:28] rafaelmardojai commented on #187
`6px` seems enough right?

![Captura de pantalla de 2021-09-28 16-26-57](https://user-images.githubusercontent.com/6210397/135168155-08be34c3-e7c8-470d-ba6e-965464909d4a.png)

[2021-09-28 21:36] #187 closed

[2021-09-29 07:45] arax-1238 opened #188 "0.5.0-1 on Linux Mint 20.2 Cinnamon (installed using ppa:apandada1/blanket) doesn't work"
Hi, thanks for you great work!
This morning **update to 0.5**  throught ppa:apandada1/blanket  **seem not to work...**

io@glutin:~$ blanket
Traceback (most recent call last):
  File "/usr/share/blanket/blanket/presets.py", line 48, in __init__
    self.presets_list.bind_model(self.model, self._create_widget)
AttributeError: 'Child' object has no attribute 'bind_model'
Error in sys.excepthook:
Tra

[2021-09-29 08:12] mskf1383 commented on #188
I have problem with new version too (the ppa package for ubuntu)

[2021-09-29 12:16] onny opened #189 "Car ride sound"
Hey,
I really like the noise of a car ride like in this video: https://www.youtube.com/watch?v=k4M1ft7p95M

Regards
Jonas

ps. I'm trying to package Blanket for NixOS https://github.com/NixOS/nixpkgs/pull/139850

[2021-09-29 13:08] rafaelmardojai commented on #189
@haggen88 maybe you're interested in finding some audio files for this :P

Feel free to send a PR adding it to the `Third Party Packages` table on `README.md` if you want.

[2021-09-29 13:15] haggen88 commented on #189
I actually had something stored ...
[Inside Fast Car by mitchellsounds.ogg.zip](https://github.com/rafaelmardojai/blanket/files/7252117/Inside.Fast.Car.by.mitchellsounds.ogg.zip) > Creative Commons Sampling Plus 1.0 License

[2021-09-29 15:58] jimmac commented on #189
While the icon works in terms of conveying the meaning, it needs to be a lot more geometric in execution.

[2021-09-29 23:00] rafaelmardojai commented on #188
@apandada1 Any clue on why is this happening?

[2021-09-29 23:09] rafaelmardojai commented on #189
Tested the sound for a few minutes and sound good to me. It's a bit monotone but that's the nature of the sound.

[2021-09-30 06:44] apandada1 commented on #188
I can reproduce this in KDE Neon. I should have built and tested it locally before pushing to the PPA.

The same issue is present when I build from source (can anyone reproduce this?_

[2021-09-30 11:33] apandada1 commented on #188
I cannot reproduce this issue when I build from source in Manjaro (python 3.9). Is python 3.8 in Ubuntu 20.04 the issue here?

[2021-09-30 13:29] rafaelmardojai commented on #188
Maybe I'm using some new feature from python or pygobject? I don't think I am, but could be.

[2021-09-30 13:39] apandada1 commented on #188
I will build from the commits one by one, and try to find where the issue began. I have some midterm exams on this weekend. I would work on this after that.
@arax-1238  @mskf1383 Meanwhile, if you can check if the issue exists when you build from source, and check when the issue started to appear, it would be very helpful.

[2021-09-30 13:50] rafaelmardojai commented on #188
Yeah, it's probably caused by the new presets feature or the gobjects clean up.

I also will try to check out.

[2021-09-30 13:55] apandada1 commented on #188
I just tested it in a Ubuntu 21.04 VM which has python 3.9.4. There the PPA version is working without any issue.

[2021-10-01 00:18] rafaelmardojai commented on #188
Tested Blanket flatpak against `3.38` runtime that has python `3.8.8` and all works fine. You know what minor 3.8 python version  Ubuntu 20.04 has?

[2021-10-01 00:57] Vectorvr10 commented on #188
Ubuntu has python 3.8.10, I tried to run the daily version of the blanket ppa to see if it worked, it opened without showing any error in the terminal, but it did not load the icons or sound bars, it was just a blank screen that said "blanket ".
In my case, the stable version shows the same error that arax-1238 says, I don't know if installing a more modern python version will fix something, but I

[2021-10-01 01:33] Vectorvr10 commented on #188
Ok, I tried to run blanket with python3.9 (installation via apt with official Ubuntu repository) and the program doesn't work either, but it throws a different error, I don't know if it's important, but it's the following:

Traceback (most recent call last):
  File "/usr/bin/blanket", line 27, in <module>
    import gi
  File "/usr/lib/python3/dist-packages/gi/__init__.py", line 42, in <module>

[2021-10-01 01:36] rafaelmardojai commented on #188
I really don't think it's a python issue, seems like something else.

[2021-10-01 01:51] rafaelmardojai commented on #188
If someone could try building Blanket from source and checking out these commits in this order until it fails would be very awesome.

1. 76258c770043dacaab9ac85f0e96662372481312
2. 486a9603f779d3eb19d574c30670e9e9ce5ad1b8
3. 2e51a6eba240f1969c8d56aad91eb89325aeeda0
4. aa9cddffca06d6e7f08126ee98d03d472edbf550
5. bfd2f69290f06eb51baa14bd9461344c2dcbfe90
6. c0abfead5ce2068e6a856f41b7274d07d3f27d9d

[2021-10-01 04:31] tapasbose opened #190 "blanket 0.5.0-1~ubuntu20.04.1 - AttributeError: 'Child' object has no attribute 'bind_model'"
Hello,
I really love this application. Unfortunately, after upgrading to blanket (0.5.0-1~ubuntu20.04.1) apparently, it got broken.

[code]

I am in Ubuntu 20.04.3 LTS. Python version: 3.8.10, Python GTK version: 3.24.20.

Thanks in advance.
Regards

[2021-10-01 11:21] jimmac commented on #189
In the context of the other icons, I'm leaning towards the last item on the grid here --

![Blanket 2](https://user-images.githubusercontent.com/14821/135611736-22a540c6-b8e1-4d12-b10b-49445221260f.png)

[2021-10-01 11:40] rafaelmardojai commented on #190
Duplicate of #188

[2021-10-01 11:41] #190 closed

[2021-10-03 13:39] Mejans commented on #188
I have the behaviour Vectorvr10 describes, it opens but it is blank not blanket.

[2021-10-06 17:53] rafaelmardojai commented on #188
@Helaxious could you try building from source from the commits listed above and see in what commit it fails?

[2021-10-08 20:42] Helaxious commented on #188
Hey there, if I have done everything correctly, ( I'm still pretty new to this programing stuff  ) the second commit is the one failing for me, but just to be sure, I also tried the rest of the builds, here's what I've found out

1- `76258c7` - The app is working, but the dark mode doesn't seem to work for me, I'm not really sure why though.

2- `486a960`- The app is broken, if I try to start it w

[2021-10-08 21:14] rafaelmardojai commented on #188
There isn't to my knowledge, you should check with your package manager.

[2021-10-08 21:28] rafaelmardojai commented on #188
Yeah, that's the version packaged by @apandada1 for focal. But I just tested the Blanket's flatpak against `3.38` runtime + libhandy `0.90.0` and it works, so the issue isn't related to libhandy version.

[2021-10-08 21:29] rafaelmardojai commented on #188
I'm installing an Ubuntu 20.04 VM and I will try to debug whats happening.

[2021-10-08 22:30] SwampRabbit commented on #188
Blanket 0.5.0 up to #0d7f9f9 has no issue on MX Linux 21 RC1 (so Debian Bullseye), using libhandy-1-0 ver 1.0.3-2 and python 3.9.2-3.  I can build the latest, I just built what I pulled the other day.

I do think the Debian packaging needs some more work, its pulling in like 153MBs of -dev packages which is ridiculus.  I can help iron that out when I get some time, if @apandada1 wants some help wi

[2021-10-09 03:11] SwampRabbit commented on #188
I suppose it depends, I'm not Ubuntu package version expert but from 20.04 - 21.04 it "should" be based on Bullseye and Sid package versions, but that will vary from package to package depending on when they pulled from Sid.  Thats kinda the issue sometimes with Ubuntu, its not Debian Stable nor Sid, could be anywhere in the spectrum.

My "assumption" is that 20.04 would be on the lower end of Bul

[2021-10-09 10:19] apandada1 commented on #188
We probably need to change [this](https://github.com/rafaelmardojai/blanket/blob/master/debian/control#L21) line to `libhandy-1-0` so that -dev packages are not pulled.

The PPA has libhandy-1-0 0.90.0, and I can update that to 1.0.0.
libhandy-1.2 is not compatible with Ubuntu 20.04 (has dependency issues).

Could you please try that? Ubuntu 20.04 has python 3.8.2, but still.

[2021-10-10 03:33] SwampRabbit commented on #188
@apandada1 can do no problem, but its going to be about 12hrs before I can even try.

I'd move the libhandy-1-dev to the build depends, libhandy itself should get pulled in then as a runtime depends automagically.
I was surprised to see libhandy-1-dev in the runtime depends (seen stranger things), but I just started looking at the package, so wasn't going to do anything until I looked at it more.

[2021-10-10 22:03] SwampRabbit commented on #188
So building for an updated MX-19 with libhandy-1-0 ver 1.0.3-2 and Python 3.7.3 (pretty close to Debian Buster) I get the following, which is very similar to what was reported earlier.
[code]
Building and running on MX-21 RC1 (Debian Bullseye) is fine.

[2021-10-11 05:46] apandada1 commented on #188
Is there any way to test the source package with different python versions?

[2021-10-12 21:52] Helaxious commented on #188
With linux mint 20.2 Cinammon I've got Blanket to build and compile with python 3.9.7 with `virtualvenv` and it shows me this error:
[code]
It's similar to the error @Vectorvr10 had with python 3.9, this time though, It doesn't open any window if I try to launch it without the terminal

[2021-10-21 09:48] Tuxino88 opened #199 "Gstreamer 1.20 issue"
![Schermata da 2021-10-21 11-44-56](https://user-images.githubusercontent.com/75674245/138253674-06852e65-afda-41d5-8c76-0d8cf91f1d51.png)

<details>

/usr/share/blanket/blanket/sound.py:86: Warning: g_object_setv: assertion 'G_IS_OBJECT (object)' failed
  self.set_volume(0)
/usr/share/blanket/blanket/sound.py:89: Warning: g_object_setv: assertion 'G_IS_OBJECT (object)' failed
  self.set_uri(self.

[2021-10-23 05:16] sfsfco opened #201 "app crashing"
blanket
Traceback (most recent call last):
  File "/usr/share/blanket/blanket/presets.py", line 48, in __init__
    self.presets_list.bind_model(self.model, self._create_widget)
AttributeError: 'Child' object has no attribute 'bind_model'
Traceback (most recent call last):
  File "/usr/share/blanket/blanket/main.py", line 140, in do_activate
    self.window = BlanketWindow(self.mainplayer, applica

[2021-10-25 08:43] paidhi opened #203 "Additional sound: Under water"
Thank you very much for this great application. It helps a lot in noisy open office environments. Especially in combination with noise-cancelling headphones.
I would like to suggest an additional sound: Under water / Diving.

Some Jabra headphones can be managed with the vendors mobile app "Sound+". The app offers "Soundscapes" that can be used in a similar fashion than Blanket. I use this in situ

[2021-10-31 18:24] jnns opened #205 "Honk in city sound is too loud"
I'd like to get other people's opinion on the city sounds (`city.ogg`).

[2021-11-01 18:00] Vectorvr10 commented on #188
Not the best solution that could exist, but to use blanket, install version 0.4.1 ~ ubuntu20.10.1 on Ubuntu 20.04 alongside libhandy-1 and it works without any problem. To at least be able to use the program.

[2021-11-01 18:08] apandada1 commented on #188
Another issue is that, launchpad does not allow to downgrade, otherwise, I
would have pushed the previous version for Ubuntu 20.04.

On Mon, 1 Nov, 2021, 11:30 pm Vectorvr10, ***@***.***> wrote:

[2021-11-05 11:46] rafaelmardojai commented on #205
CC @Porrumentzio, what do you think?

[2021-11-05 13:41] Porrumentzio commented on #205
I'll take a look on that as soon as I can. If I don't get back in four days, call me again.

[2021-11-07 06:42] apandada1 commented on #188
As a workaround, I pushed version 0.4.1 as `1:0.4.1` (Launchpad/apt thinks 1:0.4.1 > 0.5.0-1) only for 20.04, and people should get an update.

[2021-11-07 07:29] LeftyDeMilo opened #207 "No way to localize “Add Custom Sound...” button"
There is a message string "Add Custom Sound" (without ellipsis) in pot file, but it does not change text on the button.

![Add Custom Sound](https://user-images.githubusercontent.com/71212608/140636088-8d76d7eb-8720-46de-85ff-62d847d81867.png)

[2021-11-08 22:45] fredoche opened #208 "[Feature request] Dynamically change the soundscape"
It would be great to have the soundscape vary automatically, from tempest in the rain to hearing the birds while sailing on a river.
Thanks for this app, its great.
Best regards,

[2021-11-08 22:55] rafaelmardojai commented on #207
Thanks, looks like I forgot to add the file that contains that string to the `POTFILES`.

Yeah, that one is for the file chooser title.

[2021-11-10 14:38] Porrumentzio commented on #205
I don't think that this is annoying. This time the graphic representation is not so useful, as we don't perceive short loud sounds as loud as if they would last for more time. We can compress the clip, but very probably it won't change a lot the perception for what I said before (the spontaneousity of the sound will remain there, even if more quiet).

Is that horn annoying for you both?

[2021-11-11 00:37] rafaelmardojai commented on #205
Hmm, never heard that sound for a long time, but now I realize that the honk becomes annoying quickly...

[2021-11-16 16:26] haggen88 commented on #147
@Porrumentzio @rafaelmardojai Here are some candidates for Coffee Shop  [Btw.. perhaps in some clips it is necessary to use some effects (eg reverb & EQ) to cover up the speech of the people and that the words are not distinguished] :

- https://freesound.org/people/190042/sounds/487581/ > Coffee Shop Ambience by '190042' [CC BY 3.0]
[190042 - Coffee Shop Ambience.zip](https://github.com/rafaelmar

[2021-11-20 21:02] haggen88 commented on #203
Hi @paidhi
I don't know what kind of sound Soundscapes has, here I found some sounds that might be useful:

- https://freesound.org/people/Tim_Verberne/sounds/482167/   > Underwater Ambience.wav    by 'Tim_Verberne'  [CC0 1.0]

- https://freesound.org/people/Kinoton/sounds/393819/   > Underwater Ambience    by 'Kinoton'    [CC0 1.0]

- https://freesound.org/people/Tomlija/sounds/172053/     > A fo

[2021-11-22 08:32] paidhi commented on #203
Thank you for the Freesound tips.
Somehow I overlooked the "Add Custom Sound" button in the application. :pensive:

[2021-11-22 17:10] wangxa commented on #199
self.pipeline is **None**. GstPlayer.Player, the class impored by typelib of gstreamer1-plugin-bad has changed its implementation.

[2021-11-25 05:14] haggen88 opened #212 "Blanquet crashed and switch to dark mode does not work"
- Linux Mint 20.2 / Cinnamon 5.0.7 / Kernel: 5.13.0-21-generic / Muffin 5.0.2 / Mesa 21.0.3 / Python 3.8.2 / Flatpak 1.11.2-1
- Blanket 0.5.0  [Flatpak]

I tried to switch to dark mode but it didn't work .. also Blanquet crashed

![q](https://user-images.githubusercontent.com/68134588/143382246-91ed3fd6-e8cb-440b-9c7d-c46b2784be1e.png)

Gtk-Message: 01:52:59.298: Failed to load module "xapp-gtk3-m

[2021-11-28 18:47] pitlochry commented on #199
I can confirm this behaviour. @wangxa thanks for the information. But what should I do to make it work again?

[2021-11-29 16:37] wangxa commented on #199
If this only occurs under Fedora 35, I guess it is caused by pipewire.

[2021-11-29 17:11] pitlochry commented on #199
This problem started after updating to Fedora 35. So your guess may be right.

[2021-12-02 19:30] haggen88 commented on #212
running 'flatpak repair' I managed to recover the dark mode but the button still does not work

![Captura de pantalla de 2021-12-02 16-28-12](https://user-images.githubusercontent.com/68134588/144489868-7da2c427-5eab-481a-9598-45ec5dea447c.png)

[2021-12-02 19:52] LeftyDeMilo opened #214 "Found a few strings missing in pot files"
### Presets
![Presets z](https://user-images.githubusercontent.com/71212608/144491955-c13ceccd-1361-440f-a4fc-30bc49c6844e.png)

### Presets / Add Preset...
![Presets-and-Add-Preset z](https://user-images.githubusercontent.com/71212608/144491980-63c9ca1d-0ef9-46f1-8904-5d794b68c7ea.png)

### Preferences
![Preferences z](https://user-images.githubusercontent.com/71212608/144491997-f146e637-7b57-4b2

[2021-12-13 19:30] Libric0 opened #218 "Respect Dark Style Preference"
Hi!

When I use adwaita dark- I have to manually toggle dark mode. As Gnome 42 will have a dark-style preference, it would be good if the standard option would be to use the system style preference for the accent colors (And the accent colors for that matter)

Thank you for your great work!

[2021-12-14 00:52] rafaelmardojai commented on #218
I haven't understand well what do you mean, but in the GTK4 port (current `master` branch) aimed for GNOME 42, Blanket doesn't longer exposes a dark mode toggle for systems that support the new preference, so it will follow the system style.

[2021-12-22 07:20] jose1711 commented on #134
Finnish translation was added on May 25th so perhaps this can be closed.

[2021-12-23 03:52] #134 closed

[2021-12-28 09:55] Tuxino88 commented on #199
any news?

[2022-01-13 15:55] oyajun opened #224 "Swich Preset"
When we swich preset, we have to click 3 times.
I don't think it is easy.

So,do you think of my idea?
![Screenshot from 2022-01-14 00-35-04](https://user-images.githubusercontent.com/81346541/149363388-0a15d239-2c27-45f7-9d7c-f9ff890a9670.png)

[2022-01-27 18:40] mohammadmohammadiarchangel opened #227 "how can install it in kali linux?"
hi, is it possible to install it in kali linux?

[2022-01-27 18:49] rafaelmardojai commented on #227
You can install flatpak (https://www.kali.org/docs/tools/flatpak/) and install the official package from Flathub (https://flathub.org/apps/details/com.rafaelmardojai.Blanket).

Alternative there is a third party package for Ubuntu that probably could be installed?  (https://launchpad.net/~apandada1/+archive/ubuntu/blanket)  I don't know if you can download the `.deb` from launchpad.

[2022-02-06 13:32] tronta opened #229 "Add icons for custom sounds"
It would make it easier imho to switch on/off custom sounds with an additional icon/button.

My kids also are fans of this app and we play with it also on my Linux phone.
One thing which could be improved, is to make it easier to understand and to handle own sounds by adding a generic icon/button. As I remember, you had something similar in place. But when fiddling around on it especially with a t

[2022-02-06 13:35] tronta opened #230 "Remove white and pink noise"
I'm not sure about the use case you had in mind when you added white and pink noise, but I personally would never mix them with any of the other sounds.

So from my perspective, I would simply remove them.

[2022-02-06 18:12] rafaelmardojai commented on #230
Noise sounds are one of the reason why this app exist in the first place, even generating the noise in runtime is planned. But probably are not meant to be mixed with other sounds.

I could build a special view for noises that only allows you activate one at a time. But until I have time for that, having them in the main view is the best I can do.

[2022-02-06 18:13] rafaelmardojai commented on #229
Yep I plan to do that, but didn't have time in the last release. We already have the icon for that.

[2022-02-06 18:17] tronta commented on #230
I understand.

[2022-02-06 18:17] #230 closed

[2022-02-07 17:31] bowlimon opened #231 "Rain sound has weird buzzing noise at some point throughout the file"
I'm not too sure why this happens but it seems like the rain sound has a few buzzing noises about half way through. Personally, this ruins the immersion for me and it makes me realise that I'm not listening to real rain.

[2022-02-09 16:37] moan0s commented on #229
A bonus would be to be able to add an icon for a specific custom sound. I use this for Dungeons and Dragons and it would be amazing to additional mark my sounds to quickly select one by theme.
My workaround is to use an emoji in the filename
![Screenshot showing a custom sound with an emoji at the beginning](https://user-images.githubusercontent.com/25753802/153246480-26183610-da2a-42cf-869b-b409f

[2022-02-09 18:11] rafaelmardojai commented on #229
This has been asked before, but I really want to avoid adding to much complexity to the app. I will prefer to invest my limited free time on improving the sound side of the app.

[2022-02-10 07:59] moan0s commented on #229
Very understandable :) How would you feel about a merge request that implements this (not that I have time rn or any idea if I could do that)

[2022-02-13 20:30] salperinlea opened #233 "Blanket installed from Arch repository does not display any sounds."
OS: Arch Linux 250-3-4, running kernel 5.16.8 with KDE Plasma 5.24.0 as DE.
Blanket 0.5.0-1
*** **** *** *** ***
Running from command line, the following errors are thrown:

[code]
Resultingly, the interface looks like this:
![Blanket_bug](https://user-images.githubusercontent.com/40773827/153773627-71b7dddb-46a6-49d8-824c-0161bdad23ca.png)

[2022-02-15 11:32] terenc3 opened #235 "License issues"
Summer Night, Coffee Shop and Fireplace are not CC0 but Public Domain according to the links.

CC0 is not the same as Public Domain. CC0 is a license and Public Domain is more of a label
See https://wiki.creativecommons.org/wiki/PDM_FAQ#What_is_the_difference_between_the_PDM_and_CC0.3F

Creative commons have a linkable page https://creativecommons.org/publicdomain/mark/1.0/ which is similar to the

[2022-02-16 16:15] rafaelmardojai commented on #235
It was like that, looks like it was changed here [e55145301149818e014215011b1f4da233ddaecb] and I didn't notice. I will revert that ASAP.

[2022-02-19 21:11] jtrakk opened #237 "Command line interface"
I would like a command-line interface, such as

[code]

[Click](https://click.palletsprojects.com/en/8.0.x/) is good for making these (simpler than argparse) imo.

[2022-02-19 21:54] Helaxious commented on #237
I would also like this feature

[2022-02-20 03:44] ksdrummer commented on #233
I confirm I have the same problem on arch up to date, since few days.
(Blanket 0.5.0)

[2022-02-22 20:15] Chipsterjulien commented on #233
Same here with ArchLinux

[2022-02-23 03:42] apandada1 commented on #188
Can we close this? It seems that the latest version is not compatible with Ubuntu 20.04. Now there is a working version (0.4.1) in the PPA, and one needs to use flatpak to get the latest version.

[2022-02-24 02:18] kpiche commented on #233
It's the gstreamer 1.20 upgrade.  It works again if you downgrade packages to 1.18.5.

[2022-02-24 08:25] arax-1238 commented on #188
yes, you can close. I'm using 0.4.1 on Ubuntu 20.04 and it works perfectly!  Thanks.

[2022-02-24 08:25] #188 closed

[2022-02-24 16:34] rafaelmardojai commented on #237
Sorry but I'm not interested on working on this. But if someone wants to contribute this without affecting the project maintainability, I will be happy to review and merge the feature.

[2022-02-28 03:15] tio-trom commented on #233
Same here even the flatpak doesn't work...

[2022-02-28 11:48] TomasKukumberg commented on #233
@tio-trom Strange, flatpak works for me, but arch repository one does not

[2022-02-28 11:52] tio-trom commented on #233
Very weird because flatpaks should, in theory, contain all packages for an "app". I am on arch and for me it does not work.

[2022-02-28 12:29] rafaelmardojai commented on #233
It's showing the same error than the OP?

Flatpak is working fine for me.

[2022-02-28 13:28] tio-trom commented on #233
Yes, same:

![2022-02-28_14-27](https://user-images.githubusercontent.com/38043315/155991141-fce65415-03ce-437b-9549-a85d693affba.png)

[2022-02-28 14:54] rafaelmardojai commented on #233
Doesn't seems to be printing the same error...

[2022-02-28 14:56] tio-trom commented on #233
Ah I apologize I thought about the way Blanket looks, it seems broken in the same way visually and functionally.

[2022-02-28 15:02] rafaelmardojai commented on #233
No problem. Blanket will look like that if something failed but still allowed it to show the window.

[2022-03-01 21:07] dxdns commented on #233
i have the same problem here

[2022-03-01 22:17] amithiel commented on #233
same here on arch. man i love this app! really hope you can fix it!
downgrading gstreamer is not really wise
cheers

[2022-03-01 22:22] jubalh commented on #233
Arch people are the new Ubuntu people. Everybody feels like commenting "for me too!!! on arch btw!!". Instead of just pushing that thumbs up on the first entry.

[2022-03-03 03:15] rafaelmardojai commented on #233
Hopefully next version will be ported to use `Gst.Play` from `gstreamer 1.20` (I'm wanting for it to be in the master runtime) and maybe will fix the problem.

I will ask here for testers when working on this.

[2022-03-03 10:27] tio-trom commented on #233
I just wanted to let you know that flatpak works for me. Was a matter of the old package running in the background.

[2022-03-03 12:00] wangxa commented on #233
This is the same error as mentioned in Problem #199.

[2022-03-03 12:19] IlijazM opened #238 "Why is fireplace inside of the interiors group"
Why is fireplace inside of the interiors group? It seams very dangerous to put a fireplace there. In order not to give people stupid ideas, the fireplace should be in a outdoors group or in the nature group.

[2022-03-03 14:11] rafaelmardojai commented on #238
I didn't know there were outdoor fireplaces, I thought they were called "bonfire".

Well the sound is about this kind of fireplaces :P

![Biltmore-Wood-Burning-Fireplace-2-main__66102.1541203315.jpg](https://user-images.githubusercontent.com/6210397/156581026-216a8474-f480-435a-82f9-8c0afe743f24.jpg)

[2022-03-04 18:24] jjgalvez commented on #233
same here, getting the same error on Arch, flatpak works as expected.

[2022-03-09 09:17] wangwang1983 commented on #233
So when will the problem be solved?

[2022-03-09 15:19] IlijazM commented on #238
Oh ok I thought of fireplaces like this:

![](https://user-images.githubusercontent.com/35637072/157470834-bee982f0-6452-428d-8597-9fc985ae3a70.png)

But now it makes sense to me.

Yeah maybe the icon can be changed to something like that:

![](https://user-images.githubusercontent.com/35637072/157471300-35721f2d-fcdb-4d4b-9e2e-b3c04b7f2e60.png)

in order to avoid someone burning down their house

[2022-03-13 16:38] rafaelmardojai commented on #238
@jimmac just tagging you in case you're interested on improving the iconography representation of this sound and potentially saving lives :P

[2022-03-13 18:00] jimmac commented on #238
Making the distinct object smaller seems like going against what iconography is supposed to be about. We don't use old style telephones and yet the classic telephone speaker seems to remain being the best symbol for making calls. Open fire does a much better better job identifying the sound.

[2022-03-15 09:16] pjalsGit opened #239 "Fedora Copr repo is down"
It looks like the blanket Copr got removed/taken down for some reason.

[2022-03-15 09:27] pjalsGit opened #240 "Issues while running"
When running from GNOME Builder, it looks like its ran from root, and some transparency effects don't work:
![image](https://user-images.githubusercontent.com/25231103/158347325-0b7eb066-afb3-4fc6-8966-a8ca8e5fcbed.png)

also, when trying to add a custom sound it doesn't open the file chooser and errors in the terminal with:
[code]

When running from a meson build, it errors:
[code]

[2022-03-16 07:16] pjalsGit commented on #240
Yeah, probably, my AMDGPU setup is pretty broken.

Thanks!

[2022-03-22 22:35] Tuxino88 commented on #199
Abandonware?

[2022-03-22 22:37] Tuxino88 commented on #239
it was dropped because blanket has too old dependencies.

[2022-03-23 00:23] rafaelmardojai commented on #199
Not really, the GNOME 42 flatpak runtime was released today, so these next weeks I will finishing the new version and releasing it.

It's true that the development has been a bit slow lately, and I don't have time to test this kind of issues outside flatpak, but if six months for a release is too much, then GNOME is abandonware?

[2022-03-23 07:43] Tuxino88 commented on #199
not receiving a response since October I thought the project was less dead, all here, no other reason

[2022-03-24 12:07] robertofgama opened #241 "Feature: Add Web Stream"
Would be great if there was the possibility of add web streaming like youtube, for exemple i like to work listen this streaming (https://www.youtube.com/watch?v=5qap5aO4i9A) and i would like to add some ambiance sounds from Blanket or to command with my keybord shortkeys.

PS.: Thanks for your work, your app helps me a lot in my day.

[2022-03-26 20:14] razzeee opened #242 "Metainfo description should be longer"
I don't feel like the description accurately covers what this app can do and it should probably mention some of the sounds that are available.

Another approach would be to have more keywords in the .desktop file

Some context, I'm redoing the flathub search and it would have been nice to search for "rain" or "white noise" and find this. (noise is already in the keywords, but that wasn't enough fo

[2022-03-28 17:16] rafaelmardojai commented on #199
@Tuxino88 What version of GStreamer do you have?

Everything still works fine in flatpak I will try to test in a fedora toolbox later.

I don't know why `GstPlayer.Player.get_pipeline` is returning `None`.

[2022-03-28 18:18] #214 closed

[2022-03-28 18:22] rafaelmardojai commented on #199
Reproduced the issue with a fedora toolbox. Porting the app to use `GstPlay` seems to fix the issue.

[2022-03-28 18:41] rafaelmardojai commented on #242
Something like this?

[code]

[2022-03-28 18:50] razzeee commented on #242
Yes, I do think that would be far better :+1:

[2022-03-29 13:02] Tuxino88 commented on #199
Gstreamer 1.20.0

[2022-03-29 13:55] rafaelmardojai commented on #199
Porting to the `GstPlayer` replacement `GstPlay` from 1.20 fix the issue, but I can't simply do that, there's no Gstreamer 1.20 in any flatpak runtime at this time.

I will try to figure out some workaround that works in both `1.18` and `1.20`.

[2022-03-29 15:25] rafaelmardojai commented on #199
@Tuxino88 could you test [4cc08174b486f7b78c57633877c79f6a910f28ff]?

[2022-03-29 15:26] rafaelmardojai commented on #233
[4cc08174b486f7b78c57633877c79f6a910f28ff] should fix the issue, please test.

[2022-03-29 16:12] #229 closed

[2022-03-29 16:12] #240 closed

[2022-03-29 16:15] rafaelmardojai commented on #229
I don't think that could work, icons should be recolorable to represent the active state.

[2022-03-29 16:36] #207 closed

[2022-03-29 17:22] #242 closed

[2022-03-29 19:42] Tuxino88 commented on #199
Ok , now work again.

only print this output on terminal

/usr/share/blanket/blanket/sound.py:6: PyGIWarning: GstPlay was imported without specifying a version first. Use gi.require_version('GstPlay', '1.0') before import to ensure that the right version gets loaded.
  from gi.repository.GstPlay import Play as GStreamerPlay

the version should be specified

[2022-03-29 19:57] rafaelmardojai commented on #199
I know, but is just an small warning.

I can't use `gi.require_version` because if GStreamer `1.18` is used then it will fail because `GstPlay` isn't available.

[2022-03-29 20:32] jubalh commented on #233
Using blanket 0.5.0 patched with https://github.com/rafaelmardojai/blanket/commit/4cc08174b486f7b78c57633877c79f6a910f28ff] I get:

[code]

[2022-03-29 21:11] yochananmarqos commented on #233
@rafaelmardojai Yes, that works.

@jubalh No idea how you're "patching" the stable version with one commit, but it won't work by itself. You'll need to install directly from the master branch or install the `blanket-git` AUR package if you're using Arch.

[2022-03-29 21:12] rafaelmardojai commented on #233
Please build from master. 0.5.0 is 43 commits behind master and those changes may influence.

[2022-03-29 21:14] rafaelmardojai commented on #233
@yochananmarqos Nice, will prepare to release this week then.

[2022-03-29 21:16] yochananmarqos commented on #233
@rafaelmardojai Well, there is a separate issue that should be addressed:

[code]

[2022-03-29 21:16] rafaelmardojai commented on #233
@yochananmarqos see: https://github.com/rafaelmardojai/blanket/issues/199#issuecomment-1082316547

[2022-03-29 21:28] jubalh commented on #233
In your [message](https://github.com/rafaelmardojai/blanket/issues/233#issuecomment-1082016094) you mentioned that this commit should fix it. So obvisously I took this commit only.

[2022-03-29 21:31] rafaelmardojai commented on #233
@jubalh Yeah sorry, probably my comment was misleading.

[2022-03-30 07:34] Tuxino88 commented on #239
the package is available again

[2022-03-30 12:27] #239 closed

[2022-04-01 07:27] winghongchan opened #243 "Sleep timer"
My old clock radio had it: a “sleep” timer that automatically stops the sound after a chosen amount of time.

Seeing that one use case of this app is “to fall asleep in a noisy environment,” I think it makes sense to include a sleep timer.

Beyond stopping the sound, maybe it could offer to turn off the computer sometime after the sleep timer has elapsed? (Not immediately, in case the sleeper did

[2022-04-01 20:15] J0nnyMak0 commented on #199
For some reason, this still does not work for me. I wonder if something needs to be done to make this change work with pipewire.

[2022-04-02 09:09] Tuxino88 commented on #199
please provide the logs

[2022-04-02 10:06] pitlochry commented on #199
I can confirm that it works now on fedora 36 beta (which has pipewire). Thanks for the update.
@Tuxino88 perhaps you can test on a live system of your distribution if the problem is still present?

[2022-04-02 11:49] Tuxino88 commented on #199
? I'm on fedora and it works

[2022-04-02 11:59] pitlochry commented on #199
So sorry, I meant @J0nnyMak0, of course. I mixed it up.

[2022-04-02 18:59] J0nnyMak0 commented on #199
I'm not sure what you mean by live system. I'm building from source. Is there a way I can produce some logs?

[2022-04-03 14:15] Ch-Rad opened #244 "Dark mode toggle not working"
The dark mode toggle in preferences does not switch the appearance to dark theme. Installed using flatpak on fedora 35.

Also tried building from source but the dark mode toggle was absent from preferences.

![image](https://user-images.githubusercontent.com/74552248/161432190-887f71bf-c269-4126-bf8c-2991547d6ac8.png)

[2022-04-03 14:47] graves501 commented on #233
Thanks for creating this application, really cool idea! It was mentioned in [The Linux Experiment's video](https://www.youtube.com/watch?v=O5As4HocCrw), so I wanted to try it out. Sadly on `Manjaro` it's the same issue like mentioned above, but the `flatpak` worked perfectly fine!

[2022-04-04 17:45] Phundrak commented on #233
I installed blanket from both the community repo and from the AUR (with `blanket-git`). While the former do not show any sound, as others have shown above, `blanket-git` seems to work. [Here](https://0x0.st/obZS.txt) is the terminal output of blanket 0.5.0-1. The output of `blanket-git` as of commit de9e190 simply outputs this:
[code]

[2022-04-05 04:05] amatosg commented on #233
In my case neither seem to work. Both versions show an empty list. The official Arch package show no error, while the AUR package shows only the warning.

[2022-04-05 06:42] Tuxino88 commented on #199
Open a new issues related to your problem

[2022-04-05 06:42] #199 closed

[2022-04-07 15:12] rafaelmardojai opened #248 "Translation moved to Transifex"
Hey translators!

Just wanted to let you know that I'm moving to Transifex as the main platform for the translation workflow.

You can join here: https://www.transifex.com/rafaelmardojai/blanket/.

I still will be accepting translations through GitHub if some of you prefer that workflow.

CC: @fitojb @juxuanu @pervoj @eladyn @Porrumentzio @mskf1383  @heidiwenger  @julroy67 @Moilleadoir @frandiegue

[2022-04-07 16:09] milotype commented on #248
I'm a bit dissapointed that you chose Transifex over Weblate, as IMO, Weblate is better ...

[2022-04-07 17:56] rafaelmardojai commented on #248
We use Weblate for [Dialect](https://github.com/dialect-app/dialect), and was my first option, but their free plan only allows you to own one project. I have seen some people creating a general project in Weblate and creating components for their different apps, but looks confusing and not ideal to me, and also I don´t want to create another account to do that.

So I ended testing the different al

[2022-04-07 18:07] Vistaus commented on #248
As a translator, I also like Transifex somewhat better than Weblate. Don't get me wrong: Weblate is pretty good, but not as good as Transifex, IMHO.

[2022-04-07 18:33] rafaelmardojai commented on #248
Webfont Kit Generator and Share preview (I think you already contributed to them), all of them are available in my Transifex org: https://www.transifex.com/rafaelmardojai/public/

[2022-04-07 18:47] Vistaus commented on #248
Thanks! I indeed contributed to them already and just now I joined the resp. Dutch teams on Transifex as well. :)

[2022-04-08 21:23] hugok79 commented on #248
I requested a new language **Portuguese (pt)** in transifex for this two,

[2022-04-08 21:26] hugok79 commented on #248
My profile in transifex, https://www.transifex.com/user/profile/hugok/ You can add me to the portuguese(pt) team.

[2022-04-10 11:51] pervoj opened #249 "Update dependency list in README"
The dependency table in README.md file should be updated. There is still e.g. libhandy and libadwaita is missing.

[2022-04-12 16:07] 0x6e656b6f commented on #244
You can force a GTK theme in flatpak by using flatpak override --env=GTK_THEME=your-theme or using [Flatseal](https://flathub.org/apps/details/com.github.tchx84.Flatseal) under Environment Variables. Keep in mind that you need to install the respective theme first.

[2022-04-13 14:15] Ch-Rad commented on #244
Thanks it worked.

[2022-04-13 14:15] #244 closed

[2022-04-18 11:36] baronleonardo opened #252 "fedora copr not found"
the link to fedora copr is 404 (down)

[2022-04-18 14:11] rafaelmardojai commented on #252
According to #239, the package now is in [`tuxino/Blob`](https://copr.fedorainfracloud.org/coprs/tuxino/Blob/).

I will update the readme asap.

[2022-04-23 04:02] ThePademelon opened #253 "No Sounds Listed"
When I start the application I get a GUI with no sounds in it. I think there was an update recently and it was definitely working before that.
![image](https://user-images.githubusercontent.com/17604430/164873128-627cee36-a1fb-436e-95c1-81ff87744525.png)

Here's the output from the terminal.
[code]

Thanks!

[2022-04-25 02:46] ThePademelon commented on #253
I updated to v0.6.0 from v0.5.0 and that seems to have fixed it.

[2022-05-03 07:34] otaj opened #255 "Sound volume is not loaded properly"
Hi,

first of all, awesome program. The only thing that is bothering me is that when I close and reopen blanket again, although the sound bars are saved in the same position as they were upon closing, the actual volume is at the maximum. It takes to change each of the sounds volume by a bit in order to reset it to the proper value, but it is necessary to do so in all of the sounds.

I am using Arc

[2022-05-05 09:15] comradekingu commented on #248
@rafaelmardojai Happy to help if you use Weblate.
https://hosted.weblate.org/hosting/ only has restrictions on where the actual strings are stored.
https://weblate.bubu1.eu/ has no restrictions.

[2022-05-08 13:34] shmu26 commented on #233
I see this same issue on Kubuntu 22.04, when installed from PPA. The Flatpak version works as expected.

[2022-05-08 13:37] rafaelmardojai commented on #233
Looks like the PPA hasn't be updated to `0.6.0`.

[2022-05-08 13:38] rafaelmardojai commented on #233
Closing this since `0.6.0` is in the arch repos.

[2022-05-08 13:38] #233 closed

[2022-05-08 13:39] rafaelmardojai commented on #253
Yup this is an issue with GStreamer 1.20 (see #199), `0.6.0` has been released with a fix for that.

[2022-05-08 13:39] #253 closed

[2022-05-12 00:56] haggen88 opened #256 "sound request: Cat purring"
Hello, I would like to suggest a cat purring as an additional sound to the current selection.

I attach two audio samples {cuts of the original audio}. I hope @Porrumentzio can analyze them and see if they agree with the parameters used by Blanket.

- 6_Cat, purr.wav   by   '16GPanskaZlochova_Eliska'     [CC0 1.0]
https://freesound.org/people/16GPanskaZlochova_Eliska/sounds/496275/

- Cat Purring

[2022-05-12 23:20] haggen88 commented on #212
version 0.6.0 fixes the theme change problem

[2022-05-12 23:20] #212 closed

[2022-05-17 17:31] isurunix opened #257 "Blanket is not working on Fedora 35 with Waylent"
It seems Blanket from Copr repo does not work in Fedora with Wayland.
This is probably because missing libadawita according to the error shown

[code]

## Steps to reproduce

1. Enable Copr repo
2. Install Blanket
3. Run Blanket

## Environment

- OS: Fedora 35
- Desktop Environment: Gnome with Wayland

[2022-05-18 00:06] #249 closed

[2022-05-18 00:08] #252 closed

[2022-06-22 21:23] haggen88 commented on #256
@Porrumentzio   I left it at 8 seconds, I guess it's more appropriate now.
[Cat Purring.mp3.ogg.zip](https://github.com/rafaelmardojai/blanket/files/8961356/Cat.Purring.mp3.ogg.zip)

[2022-06-26 12:42] Tmpod opened #260 ""Credits" and "About" buttons untranslatable"
The upper buttons on the "About Blanket" dialog are not translatable:

![imagem](https://user-images.githubusercontent.com/35771816/175814347-c8979d43-375d-4ccf-8d7a-066a6cec23d4.png)

[2022-06-26 13:01] rafaelmardojai commented on #260
Those come from GTK, you will need to translate them there.

[2022-06-26 13:01] #260 closed

[2022-06-26 13:06] rafaelmardojai commented on #112
I was sent this sound by Greg Farough [brown.zip](https://github.com/rafaelmardojai/blanket/files/8986662/brown.zip), he said he could synthesize a new one if we wanted a different length, bitrate, etc.

CC @Porrumentzio @haggen88

[2022-06-30 15:58] milliams opened #261 "GstPlay is not specified as a dependency"
I'm running Blanket 0.6.0 installed from [RPM on openSUSE](https://build.opensuse.org/package/show/multimedia:apps/blanket). I believe that the build system there is able to automatically work out the required dependencies by looking at the registered plugins by `gi.require_version()` (using `pkgconfig(gobject-introspection-1.0)` I think).

Given the known issues, e.g. #199 you have updated blanke

[2022-06-30 17:18] rafaelmardojai commented on #261
The main reason of the current state is that `1.20` wasn't available in the Flatpak Freedesktop platform (haven't checked if it's already available). So requiring `GstPlay` would make the app fail if `1.20` isn't installed.

[2022-07-06 00:00] daudix-UFO commented on #256
Tested it a little bit, seems good!

[2022-07-06 00:01] daudix-UFO commented on #243
I really want to see this feature!

[2022-07-18 08:52] jimmac commented on #256
While the symbol isn't as geometric as the others, it delivers on cuteness. I like it.

[2022-07-26 12:46] avila opened #263 "Blanket overcrowds individual volume levels in Gnome Settings"
Sometimes I like to use the Sound page of the Gnome Settings to control de volume level per application. It happens that an entry for each sound type is created as soon as they are created in Blanket. They don't disappear after muting it, only after closing the app.

I don't know if this is manageable from Blanket but the entries of other apps, such as Firefox, are removed as soon as the audio/vid

[2022-07-26 12:56] avila opened #264 "Expose main volume slider in main window or title bar"
After setting the levels of individual audio tracks I often wish to lower and raise the overall volume depending on the activity I am doing and I rarely adjust individual tracks after that. With that I believe it would be an improvement to expose the main slider so that less clicks are required, similar to the play/pause button.  I think of a slider at the top of the main frame or, if possible, on

[2022-07-29 04:03] Izaic commented on #243
This is a great idea, though I feel just letting the computer suspend on it's own would be best. That way if a user has an alarm set, it would still go off.

[2022-08-08 09:55] MilkAndBanana01 opened #265 "Sounds not showing in Ubuntu 22.04"
![image](https://user-images.githubusercontent.com/94128784/183391530-d93fcace-de32-466a-ba1c-a17cc4b91056.png)
Installed from flatpak

[2022-08-10 04:20] apandada1 commented on #265
Can you check whether the PPA version helps? I tested it on Mint 21, which is based on Ubuntu 22.04

[2022-08-10 11:18] rafaelmardojai commented on #265
@MilkAndBanana01 Does it print something when ran in the console? `flatpak run com.rafaelmardojai.Blanket `

[2022-08-11 05:45] MilkAndBanana01 commented on #265
Forgot about this. Apparently it has been fixed by a quick restart. Weird fluke I guess.

[2022-08-11 05:45] #265 closed

[2022-08-20 18:23] thegarlynch opened #268 "Fireplace is not fireplacey enough"
I imagined fireplace to have interrupting noise of the burned wood. But there is no such thing, especially if you turn rain on some level.

[2022-08-30 23:07] sunjam opened #270 "Request: add Custom directory"
Great application.  My request is to add a custom directory so any sounds within it can be added in bulk.

Thanks either way for considering.

[2022-08-30 23:17] sunjam opened #271 "Request: hide or collapse sounds in the menu"
Cool to have all of these sounds available.  My request is to:
- Hide or collapse sounds so that they are now longer visible on the menu or are much smaller.
- Perhaps a "hidden" sound is simply moved to the bottom of the list.
- This arrangement might be useful to save with a preset.

[2022-09-02 21:32] feltcat commented on #257
I just got the same issue with X11, and installing the libadwaita package did indeed fix it.

(As an aside: it would probably be a good idea to add a --version command line option to Blanket)

[2022-09-10 09:00] davquar opened #277 "[Flatpak] Blanket does not use the host's GTK theme"
When the app is installed as Flatpak, its theme doesn't follow the one configured in the host.

![Istantanea_2022-09-10_10-58-14](https://user-images.githubusercontent.com/30431538/189476460-6bb86ea6-e4e6-48fb-b354-0345964e10c2.png)

In the screenshot there is QuodLibet and Blanket, and the former follows the host's theme, while the latter doesn't.

I've tried with multiple themes and the problem

[2022-09-10 09:40] davquar commented on #277
I've read the "stop theming" page

[2022-09-10 09:40] #277 closed

[2022-09-11 17:34] Tazzash commented on #268
I've been using this custom sound which seems pretty solid.

https://opengameart.org/content/fireplace-sound-loop

[2022-10-11 16:27] lig opened #280 "Creating new preset shouldn't clear the current selection"
Steps:
- Open app
- Select some sounds combination
- Open menu and select Presets > Add Preset...

Actual result:
- New preset created
- All sound selections are cleared

Expected result:
- New preset created
- All previously selected sounds are copied into the newly created template

[2022-10-19 07:37] mafsi opened #282 "Change WM_CLASS(STRING)"
Please consider changing `WM_CLASS(STRING) = "python3", "python3"` to `Blanket, blanket` in order to work with `bspwm`.
Right now as a workaround I have `bspc rule -a python3 state=floating`, which is ugly.

with `xprop`:

[code]

[2022-10-22 09:31] Slomo17 commented on #270
i would like this feature too, or at least the option to select multiple files at once when adding custom sounds.
If a custom directory could be choosen it would be create if it creats an aditional section with the directorys name, for example i would like to add a directory with animal sounds and one with different rain sounds and so on

[2022-11-08 09:45] sgob1 commented on #255
I can reproduce this on my machine as well. I run Fedora Workstation 36 with Blanket installed from flathub.

Other than changing each sound volumes one by one, an alternative way to fix them for me was to move the master volume in the hamburger menu at least a little bit; that was enough to restore the volumes at their correct level.

[2022-11-08 17:16] rafaelmardojai commented on #255
This should have been mitigated by 1a92a5f7d2d983f99f5a7fa459f7068797bf130f.

Hopefully I will release a new version this month.

[2022-11-14 17:58] katalia369 opened #283 "Sound Request: Red Noise"
White noise and pink noise are already on the system, Red Noise (also called Brown Noise) is just another slightly more bass variant. I happen to like red noise more than the other two. I have a generator at home but I can't use that in the office so I run Blanket on the laptop there.

I have reasonable audio equipment at home for client virtual communications. I used that and my generator to pull

[2022-11-24 22:18] p0lygun opened #284 "`ModuleNotFoundError` Raised when using py3.11"
[code]
from what it looks like `python-gobject` has [no build for py3.11](https://github.com/archlinux/svntogit-packages/blob/packages/pygobject/trunk/PKGBUILD#L12)
I had my python set to py3.11, changing the symlink back to py3.10 does work,
for now i have set the shebang to `#!/usr/bin/python3.10`